<template>

  <div>

    <Header2 :nav="nav"></Header2>

    <div class="mainPage">

      <v-row justify="end" class="pa-9">
        <ButtonsClientColis class="buttonAccueil"></ButtonsClientColis>
      </v-row>

      <div class="contentBody">
        <h1 class="mainTitle h1 ma-3">{{ $t("TITLE") }}</h1>
        <h1 class="mainTitle h1 ma-3">{{ $t("TITLE2") }}</h1>
        <hr class="dividerRounded mb-3 ml-3" />
        <v-row class="cardDonnees mx-3 my-10">
          <v-row class="rowCard">
            <v-col class="">
              <div class="d-flex flex-column align-center pt-5">
                <v-icon color="blue lighten-2" class="pa-3 icon"
                  >mdi-truck-fast</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("150 TOURNÉES PAR JOUR") }}
                </div>
              </div>
            </v-col>
            <v-col>
              <div class="d-flex flex-column align-center pt-5 px-2">
                <v-icon color="purple lighten-2" class="pa-3 icon"
                  >mdi-poll</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("98.1% DE COLIS LIVRES DANS LES TEMPS") }}
                </div>
              </div>
            </v-col>
            <v-col>
              <div class="d-flex flex-column align-center pt-5 px-2">
                <v-icon color="brown lighten-2" class="pa-3 icon"
                  >mdi-package-variant</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("+2MILLIONS DE COLI LIVRES EN 2020") }}
                </div>
              </div>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <div class="d-flex flex-column align-center pt-5 px-2">
                <v-icon color="black lighten-2" class="pa-3 icon"
                  >mdi-face-agent</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("UN SERVICE CLIENT A L’ ECOUTE") }}
                </div>
              </div>
            </v-col>
            <v-col>
              <div class="d-flex flex-column align-center pt-5 px-2">
                <v-icon color="green lighten-2" class="pa-3 icon"
                  >mdi-tree</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("20% DES COLIS LIVRES EN VÉHICULES ELECTRIQUES") }}
                </div>
              </div>
            </v-col>
            <v-col>
              <div class="d-flex flex-column align-center pt-5 px-2">
                <v-icon color="grey darken-1" class="pa-3 icon"
                  >mdi-av-timer</v-icon
                >
                <div class="text-center font-weight-bold text-uppercase">
                  {{ $t("DELAIS DE LIVRAISON DE 1 à 3 JOURS") }}
                </div>
              </div>
            </v-col>
          </v-row>
        </v-row>
      </div>
      <div class="containerTextStartup pa-6 d-flex flex-column align-center">
        <v-row align="center">
          <v-col>
            <h1 class="text-uppercase">{{ $t("TITLEQUISOMMENOUS") }}</h1>
            <hr class="smallDivider my-3" />
            <p>{{ $t("TEXT1") }}</p>
          </v-col>
        </v-row>
        <iframe
          width="660"
          height="415"
          src="https://www.youtube.com/embed/ECpuUAysdFU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <v-btn
          color="#02993B"
          @click="goToQuiSommeNous"
          class="white--text font-weight-bold buttonQuiSommeNous ma-9"
          rounded
        >
          {{ $t("BTNQUISOMMESNOUS") }}
        </v-btn>
      </div>

      <Footer class="footer"></Footer>
    </div>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import ButtonsClientColis from "../components/ClientCommandeBtn";
import Footer from "../components/Footer";

export default {
  name: "Accueil2",
  components: {
    Header2,
    ButtonsClientColis,
    Footer,
  },
  data: () => ({
    nav: 0,
  }),
  props: {},
  methods: {
    goTo(path) {
      if (this.$router.history.current.path !== path) {
        this.$router.push(path);
      }
    },
    goToBoutiques() {
      if (this.$router.history.current.path !== "/boutiques") {
        this.$router.push("/boutiques");
      }
    },
    goToTransporteurs() {
      if (this.$router.history.current.path !== "/transporteurs") {
        this.$router.push("/transporteurs");
      }
    },
    goToQuiSommeNous() {
      if (this.$router.history.current.path !== "/quiSommesNous") {
        this.$router.push("/quiSommesNous");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLE": "2 times more",
    "TITLE2": "packages with colicoli",
    "150 TOURNÉES PAR JOUR": "150 courier tour per day",
    "98.1% DE COLIS LIVRES DANS LES TEMPS": "98.1% on time Delivery rate",
    "+2MILLIONS DE COLIS LIVRES EN 2020": "+2 millions parcels delivered in 2020",
    "UN SERVICE CLIENT A L’ ECOUTE": "customer service at your disposal",
    "20% DES COLIS LIVRES EN VÉHICULES ELECTRIQUES": "20% of parcels delivered in green vehicle",
    "DELAIS DE LIVRAISON DE 1 à 3 JOURS": "Delivery from 1 to 3 days",
    "STARTUP INNOVANTE": "STARTUP INNOVANTE",
    "TARIFS COMPETITIFS": "Competitive rates",
    "CUSTOMER CENTRIC": "CUSTOMER CENTRIC",
    "TRACK & TRACE": "TRACK & TRACE",
    "PARTENAIRES INTERNATIONAUX":  "PARTENAIRES INTERNATIONAUX",
    "QUI SOMMES-NOUS": "WHO ARE WE",
    "POUR QUI ?": "FOR WHO ?",
    "EN SAVOIR PLUS": "find out more",
    "TEXTESTARTUP": "Start up innovante", 
    "TEXTESTARTUP2": "dans la livraison du dernier km et conçu à partir des besoins clients",
    "TEXT1": "ColiColi est une Start-up innovante du dernier kilomètre, bâtit à partir des besoins clients, offrant une prestation complète en intervenant de la collecte à la livraison.",
    "TITLEQUISOMMENOUS": "qui sommes nous ?",
    "BTNQUISOMMESNOUS": "En savoir plus"
  },
  "fr": {
    "TITLE": "2 fois plus de",
    "TITLE2": "colis avec colicoli",
    "150 TOURNÉES PAR JOUR": "150 TOURNÉES PAR JOUR",
    "98.1% DE COLIS LIVRES DANS LES TEMPS": "98.1% DE COLIS LIVRES DANS LES TEMPS",
    "+2MILLIONS DE COLIS LIVRES EN 2020": "+2MILLIONS DE COLIS LIVRES EN 2020",
    "UN SERVICE CLIENT A L’ ECOUTE": "UN SERVICE CLIENT A L’ ECOUTE",
    "20% DES COLIS LIVRES EN VÉHICULES ELECTRIQUES": "20% DES COLIS LIVRES EN VÉHICULES ELECTRIQUES",
    "DELAIS DE LIVRAISON DE 1 à 3 JOURS": "DELAIS DE LIVRAISON DE 1 à 3 JOURS",
    "STARTUP INNOVANTE": "STARTUP INNOVANTE",
    "TARIFS COMPETITIFS": "TARIFS COMPETITIFS",
    "CUSTOMER CENTRIC": "CUSTOMER CENTRIC",
    "TRACK & TRACE": "TRACK & TRACE",
    "PARTENAIRES INTERNATIONAUX":  "PARTENAIRES INTERNATIONAUX",
    "QUI SOMMES-NOUS": "QUI SOMMES-NOUS",
    "POUR QUI ?": "POUR QUI ?",
    "EN SAVOIR PLUS": "EN SAVOIR PLUS",
    "TEXTESTARTUP": "Start up innovante", 
    "TEXTESTARTUP2": "dans la livraison du dernier km et conçu à partir des besoins clients",
    "TEXT1": "ColiColi est une Start-up innovante du dernier kilomètre, bâtit à partir des besoins clients, offrant une prestation complète en intervenant de la collecte à la livraison.",
    "TITLEQUISOMMENOUS": "qui sommes nous ?",
    "BTNQUISOMMESNOUS": "En savoir plus"
  }
}
</i18n>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.dividerRounded {
  border: 4px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 50px;
}
.h1 {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  font-size: 40px;
}

.cardDonnees {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 16px 0px rgba(0, 47, 18, 30);
  border-radius: 24px;
  backdrop-filter: blur(5px);
}

.h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
}
.smallDivider {
  border: 1px solid #36b5cd;
  border-radius: 1px;
  width: 88px;
}

@media (max-width: 1009px) {
}
.icon {
  font-size: 80px;
}
.mainTitle {
  width: 100%;
  height: 100%;
}
.mainPage {
  background: url("../assets/accueil/backgroundImgAccueil.jpg") center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.buttonAccueil {
  width: 190px;
}
.contentBody {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.textStartup {
  color: #02993b;
}
.textStartup1 {
  font-size: 5vw;
}
.textStartup2 {
  font-size: 2vw;
}
.containerTextStartup {
  background-color: #ffffff;
}
</style>
