<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>

    <div class="bodyAccueil">

      <v-img  eager min-height="50vh" max-height="50vh" :src="require('../assets/nosclients/boutiques/backgroundImgBoutiques.jpg')">
            <div class="containerTitle pa-6">
        <h1 class="white--text">{{$t("TITLE")}}</h1>
       <hr class="dividerRounded my-3 mb-5" />
       <v-btn class="colorBlue" elevation="0" @click="goToDevenirClient" rounded>{{$t("BTNCLIENT")}}</v-btn>
      </div>
            <ButtonsClientColis class="buttonAccueil"></ButtonsClientColis>
      </v-img>
    <div class="mainContainerBody my-14">
     
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" :src="require('../assets/nosclients/boutiques/boutiques1.png')" max-width="389px" max-height="376px" eager ></v-img>
        </v-col>
        <v-col>
          <h1>{{$t("TITLE1")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT1")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col order="last">
          <v-img class="shadowImg  ml-auto" :src="require('../assets/nosclients/boutiques/boutiques2.jpeg')" max-width="408px" max-height="405px" eager ></v-img>
        </v-col>
                <v-col order="first">
          <h1>{{$t("TITLE2")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT2")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" :src="require('../assets/nosclients/boutiques/boutiques3.png')" max-width="400px" max-height="392px" eager ></v-img>
        </v-col>
        <v-col>
          <h1>{{$t("TITLE3")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT3")}}</p>
        </v-col>
      </v-row>
            <v-row class="my-5" align="center">
        <v-col order="last">
          <v-img class="shadowImg ml-auto" :src="require('../assets/nosclients/boutiques/boutiques4.png')" max-width="408px" max-height="405px" eager ></v-img>
        </v-col>
                <v-col order="first">
          <h1>{{$t("TITLE4")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT4")}}<br>{{$t("TEXT4BIS")}}</p>
        </v-col>
      </v-row>
    </div>
      
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import ButtonsClientColis from "../components/ClientCommandeBtn";
import Footer from "../components/Footer";

export default {
  name: "Boutiques",
  components: {
    Header2,
    ButtonsClientColis,
    Footer,
  },
  data: () => ({
        nav: 3,
  }),
  props: {},
  methods: {
    goToScrollContact() {
      const el = this.$el.getElementsByClassName("contact")[0];

      el.scrollIntoView();
    },
            goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirClient") {
        this.$router.push("/devenirClient");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLE": "Shops",
    "BTNCLIENT": "Become a customer",
    "TITLE1": "GAIN VISIBILITY",
    "TITLE2": "INCREASE YOUR MARGINS",
    "TITLE3": "HANDS-FREE SHOPPING",
    "TITLE4": "LOYALTY OF YOUR CUSTOMERS",
    "TEXT1": "Collaborating with ColiColi will allow you to gain visibility thanks to your presence on our communication media",
    "TEXT2": "The immediate delivery service will allow you to differentiate yourself, increase your productivity, as well as your margins.",
    "TEXT3": "We offer an in-store pick-up that will allow your customers to shop hands-free. Selected items are directly ready for delivery",
    "TEXT4": "By offering this immediate delivery service you save time, retain your customers and increase your sales.",
    "TEXT4BIS": "Process is simple, the nearest Coliman will pick up parcels and deliver them to customers in record time at place of his choice"
  },
  "fr": {
    "TITLE": "Boutiques",
    "BTNCLIENT": "Devenir client",
    "TITLE1": "GAGNEZ EN VISIBILITE",
    "TITLE2": "AUGMENTEZ VOS MARGES",
    "TITLE3": "SHOPPING MAINS LIBRES",
    "TITLE4": "FIDELISATION DE VOS CLIENTS",
    "TEXT1": "Collaborer avec ColiColi vous permettra de gagner en visibilité grâce à votre présence sur nos supports de communication",
    "TEXT2": "Le service livraison immédiate vous permettra de vous différencier, d’augmenter votre productivité, ainsi que vos marges.",
    "TEXT3": "Nous offrons un service de ramasse en boutique qui permettra à vos clients d’effectuer leurs achats les mains libres. Les articles choisis sont directement prêts à être livrés",
    "TEXT4": "En proposant ce service de livraison immédiate vous gagnez du temps, fidélisez vos clients et augmentez vos ventes.",
    "TEXT4BIS": "Le process est simple, le livreur le plus proche viendra récupérer son colis pour le lui livrer en un temps record au lieu de son choix"
  }
}
</i18n>

<style scoped>
.bodyAccueil {
  position: relative;
}
.buttonAccueil {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: 1;
}
.contentAccueil {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 90px;
}
.h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
}
.secondDividerRounded {
  border: 4px solid #36b5cd;
  border-radius: 10px;
  width: 60px;
}
.subtitleContent {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.dividerGreen {
  border: 1px solid #02993b;
  border-radius: 1px;
  width: 88px;
}
.dividerWhite {
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 88px;
}
.card1 {
  width: 168px;
  padding-left: auto;
  padding-right: auto;
}
.card2 {
  width: 168px;
  background-color: #00c742;
}
.card3 {
  width: 168px;
  background-color: #4869d6;
}
.card4 {
  width: 168px;
  background-color: #36b5cd;
}
.cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.containerCards {
  width: 100%;
}
.containerTitle {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 181, 205, 0.6);
  min-width: 30%;
  left: 10%;
  bottom: 10%;
}
.dividerRounded {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 60px;
}
.colorBlue {
  color: #36B5CD;
}
.mainContainerBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.smallDivider {
  border: 1px solid #36B5CD;
  border-radius: 1px;
  width: 88px;
}
.shadowImg {
-webkit-box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5);
}
</style>
