<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>
    <div class="mainTitle">
      <h1 class="ml-3 mt-14">
        {{ $t("TITLE") }} <span class="coli1">Coli</span
        ><span class="coli2">Coli</span> {{ $t("TITLEBIS") }}
      </h1>
    </div>
    <div class="d-flex justify-start align-end">
      <hr class="mainDivider" />
      <div>
        <v-img
          :src="require('../assets/logoBirdColicoli.png')"
          width="50px"
          height="40px"
          eager
        ></v-img>
      </div>
    </div>
    <div class="mainContainerBody">
      <!-- <p class="ma-4  my-8">L'introduction générale de cette section est utilisée pour aider à la mise en page de la page Web, ce qui donne à la page Web un aspect plus détaillé.</p> -->
      <v-row align="center">
        <v-col>
          <v-img
            :src="require('../assets/partenaires/imgPartenaires1.png')"
            max-width="300px"
            max-height="300px"
            eager
          ></v-img>
        </v-col>
        <v-col>
          <h1 class="text-uppercase">{{ $t("TITLE1") }}</h1>
          <hr class="smallDivider my-3" />
          <p>{{ $t("TEXT1") }}</p>
          <p class="pa-1">
            <span class="font-weight-bold red--text">{{ $t("SUBTITLE1") }}</span
            ><br /><span class="font-italic">{{ $t("SUBTITLETEXT1") }}</span>
          </p>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col order="last">
          <v-img
            class="ml-auto"
            :src="require('../assets/partenaires/imgPartenaires2.png')"
            max-width="350px"
            max-height="350px"
            eager
          ></v-img>
        </v-col>
        <v-col order="first">
          <h1 class="text-uppercase">{{ $t("TITLE2") }}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{ $t("TEXT2") }}<br /><br />{{ $t("TEXT2BIS") }}</p>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col>
          <v-img
            :src="require('../assets/partenaires/imgPartenaires3.png')"
            max-width="400px"
            max-height="300px"
            eager
          ></v-img>
        </v-col>
        <v-col>
          <h1 class="text-uppercase">{{ $t("TITLE3") }}</h1>
          <hr class="smallDivider my-3" />
          <p>{{ $t("TEXT3") }}<br /><br />{{ $t("TEXT3BIS") }}</p>
        </v-col>
      </v-row>
      <v-btn
        color="#02993B"
        @click="goToDevenirClient"
        class="white--text font-weight-bold buttonPostuler ma-9"
        rounded
      >
        {{ $t("BTNPARTENAIRE") }}
      </v-btn>
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";

import Footer from "../components/Footer";

export default {
  name: "DevenirPartenaires",
  components: {
    Header2,

    Footer,
  },
  data: () => ({
    nav: 4,
    items: [],
  }),
  props: {},
  methods: {
    goToDevenirClient() {
      if (
        this.$router.history.current.path !== "/devenirPartenaires/formulaire"
      ) {
        this.$router.push("/devenirPartenaires/formulaire");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLE": "Join the adventure",
    "TITLEBIS": "and everything becomes possible!",
    "BTNPARTENAIRE": "Become partner",
    "TITLE1": "Becoming COLIMAN:",
    "SUBTITLE1": "*",
    "SUBTITLETEXT1": "to be a freelancers, over 18 years old, able to move by oneself (motorcycle, bicycle, car, bicycle, scooter, rollerblade, on foot). It’s simple, isn’t it?",
    "TITLE2": "Pro: OHS",
    "TITLE3": "DROP POINT:",
    "TEXT1": "To be ColiMan, it’s simple, fast and efficient!",
    "TEXT2": "Joining a network has never been easier. With a single click, fill in your information using a form that will be automatically sent to us.",
    "TEXT2BIS": "Well, a member of our team will contact you for an appointment. You won’t find it easier! Simplicity and efficiency are our key words",
    "TEXT3": "ColiColi the smart choice!",
    "TEXT3BIS": "Working with ColiColi is simple, efficient, fast but above all it’s +2 Million parcels in 2020"
  },
  "fr": {
    "TITLE": "Rejoins l’aventure",
    "TITLEBIS": "et tout devient possible!",
    "BTNPARTENAIRE": "Devenir partenaire",
    "TITLE1": "Devenir COLIMAN",
    "SUBTITLE1": "*",
    "SUBTITLETEXT1": "Pour devenir chauffeur : avoir plus de 18 ans, pouvoir se déplacer (moto, vélo, voiture). C'est simple n'est-ce pas?",
    "TITLE2": "Professionnel du transport",
    "TITLE3": "POINT RELAIS",
    "TEXT1": "Pour être ColiMan, c'est simple, rapide et efficace!",
    "TEXT2": "Intégrer un réseau n'a jamais été aussi simple. En un seul clic renseignez vos informations à l'aide d'un formulaire qui nous sera automatiquement transmis.",
    "TEXT2BIS": "Eh hop un membre de nos équipes vous contact pour une prise de rendez-vous. Vous ne trouverez pas plus simple ! Simplicité et efficacité sont nos maitres mots",
    "TEXT3": "ColiColi le choix intelligent!",
    "TEXT3BIS": "Pour developper notre réseau nous cherchons des partenaires point relais"
  }
}
</i18n>

<style scoped>
.mainDivider {
  border: 2px solid #36b5cd;
  border-radius: 1px;
  width: 75%;
}
.coli1 {
  color: #02993b;
}
.coli2 {
  color: #36b5cd;
}
.smallDivider {
  border: 1px solid #36b5cd;
  border-radius: 1px;
  width: 88px;
}
.mainTitle {
  max-width: 720px;
  margin-right: 30%;
  margin-left: auto;
}
.mainContainerBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.greyBackground {
  background-color: #dddddd;
}
.buttonPostuler {
  width: 100%;
}
</style>
