<template>
  <div>
    <Header2 :nav="nav"></Header2>

        <div class="mainTitle">
      <h1 class="ml-3 mt-14">Rejoignez notre réseau de Partenaires</h1>
    </div>
    <div class="d-flex justify-start align-end">
      <hr class="mainDivider"/>
      <div>
        <v-img :src="require('../assets/logoBirdColicoli.png')" width="50px" height="40px" eager ></v-img>
      </div>
    </div>
    <v-form class="myForm py-9" ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col class="pa-1">
          <v-text-field
            v-model="nom"
            :rules="nomRules"
            label="Nom"
            required
            class="textField"
            outlined
          ></v-text-field>
        </v-col>
        <v-col class="pa-1">
          <v-text-field
            v-model="prenom"
            :rules="prenomRules"
            label="Prénom"
            required
            outlined
            class="textField"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
          class="textField"
          outlined
        ></v-text-field>
      </v-row>
      <v-row>
        <v-col class="pa-1">
          <v-text-field
            v-model="telephone"
            :rules="telephoneRules"
            label="Téléphone"
            required
            class="textField"
            outlined
          ></v-text-field>
        </v-col>
        <v-col class="pa-1">
          <v-text-field
            v-model="adresse"
            :rules="adresseRules"
            label="Adresse"
            required
            outlined
            class="textField"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-text-field
          v-model="societe"
          :rules="societeRules"
          label="Société"
          required
          class="textField"
          outlined
        ></v-text-field>
      </v-row>
      <v-row>
        <v-text-field
          v-model="poste"
          :rules="posteRules"
          label="Poste occupé"
          required
          class="textField"
          outlined
        ></v-text-field>
      </v-row>
      <v-row>
        <v-btn
          :disabled="!valid"
          color="#02993B"
          @click="validate"
          class="white--text font-weight-bold buttonPostuler"
        >
          devenir partenaires
        </v-btn>
      </v-row>
    </v-form>

    <Footer></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import Footer from "../components/Footer";

export default {
  name: "DevenirPartenairesForm",
  components: {
    Header2,
    Footer,
  },
  data: () => ({
        nav: 4,
    valid: true,
    prenom: "",
    prenomRules: [
      (v) => !!v || "Prénom is required",
      //(v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    nom: "",
    nomRules: [
      (v) => !!v || "Nom is required",
      //(v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    telephone: "",
    telephoneRules: [
      (v) => !!v || "Telephone is required",
      (v) =>
        /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(v) ||
        "Telephone must be valid",
    ],
    adresse: "",
    adresseRules: [
      (v) => !!v || "Adresse is required",
    ],
    societe: "",
    societeRules: [
      (v) => !!v || "Societe is required",
    ],
        poste: "",
    posteRules: [
      (v) => !!v || "Poste occupé is required",
    ],
    checkbox: false,
  }),
  props: {},
  methods: {
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>

<style scoped>
.h2 {
  color: black;
  font-size: 40px;
}
.myForm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.textField >>> label {
  color: #02993b;
}
.textField >>> fieldset {
  background-color: #eaf7ef;
  border: 0px;
  border-radius: 16px;
}
.buttonPostuler {
  width: 100%;
  border-radius: 16px;
}
.mainTitle {
  max-width: 720px;
  margin-right: 30%;
  margin-left: auto;
}
.mainDivider {
  border: 2px solid #36B5CD;
  border-radius: 1px;
  width: 75%;
}
</style>