<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>

    <div class="bodyAccueil">
<!--       <div class="containerTitle pa-6">
        <h1 class="white--text">E-commerçants</h1>
       <hr class="dividerRounded my-3 mb-5" />
       <v-btn class="colorBlue" elevation="0" rounded>DEVENIR CLIENT</v-btn>
      </div> -->
      <v-img eager min-height="50vh" max-height="50vh" :src="require('../assets/nosclients/ecommercants/backgroundImgEcommercant.jpeg')">
            <div class="containerTitle pa-6">
        <h1 class="white--text">{{$t("TITLE")}}</h1>
       <hr class="dividerRounded my-3 mb-5" />
       <v-btn class="colorBlue" elevation="0" @click="goToDevenirClient" rounded>{{$t("BTNCLIENT")}}</v-btn>
      </div>
            <ButtonsClientColis class="buttonAccueil"></ButtonsClientColis>
      </v-img>
    <div class="mainContainerBody my-14">
     
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" eager :src="require('../assets/nosclients/ecommercants/ecommercant1.jpeg')" max-width="400px" max-height="400px" ></v-img>
        </v-col>
        <v-col>
          <h1 class="text-uppercase">{{$t("TITLE1")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT1")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col order="last">
          <v-img class="shadowImg ml-auto" eager :src="require('../assets/nosclients/ecommercants/ecommercant2.jpeg')" max-width="400px" max-height="400px" ></v-img>
        </v-col>
                <v-col order="first">
          <h1 class="text-uppercase">{{$t("TITLE2")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT2")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" eager :src="require('../assets/nosclients/ecommercants/ecommercant3.jpeg')" max-width="400px" max-height="400px" ></v-img>
        </v-col>
        <v-col>
          <h1 class="text-uppercase">{{$t("TITLE3")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT3")}}</p>
        </v-col>
      </v-row>
<!--             <v-row class="my-5" align="center">
        <v-col order="last">
          <v-img eager :src="require('../assets/ecommercant2.jpeg')" max-width="500px" max-height="500px" eager ></v-img>
        </v-col>
                <v-col order="first">
          <h1>Expérience de livraison </h1>
          <hr class="smallDivider my-3"/>
          <p>Une expérience client personnalisable et unique mise en place pour améliorer la satisfaction de vos clients</p>
        </v-col>
      </v-row> -->
    </div>
      
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import ButtonsClientColis from "../components/ClientCommandeBtn";
import Footer from "../components/Footer";

export default {
  name: "Ecommercant",
  components: {
    Header2,
    ButtonsClientColis,
    Footer,
  },
  data: () => ({
        nav: 3,
  }),
  props: {},
  methods: {
    goToScrollContact() {
      const el = this.$el.getElementsByClassName("contact")[0];

      el.scrollIntoView();
    },
        goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirClient") {
        this.$router.push("/devenirClient");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLE": "E-merchants",
    "BTNCLIENT": "Become a customer",
    "TITLE1": "Increase your sales",
    "TITLE2": "Delivery Experience",
    "TITLE3": "Network",
    "TEXT1": "Focus on your core business and attract new leads as we deliver your orders. Your customers will be able to customize their deliveries according to their needs and availability",
    "TEXT2": "A customizable and unique customer experience set up to improve customer satisfaction",
    "TEXT3": "We operate in several departments and listen to your needs"
  },
  "fr": {
    "TITLE": "E-commerçants",
    "BTNCLIENT": "Devenir client",
    "TITLE1": "Augmentez vos ventes",
    "TITLE2": "Expérience de livraison",
    "TITLE3": "Réseau",
    "TEXT1": "Concentrez-vous sur votre cœur de métier et attirez de nouveaux prospects, pendant que nous nous occupons de livrer vos commandes. Vos clients pourront personnaliser leurs livraisons en fonction de leurs besoins et disponibilités",
    "TEXT2": "Une expérience client personnalisable et unique mise en place pour améliorer la satisfaction de vos clients",
    "TEXT3": "Nous opérons sur plusieurs départements et sommes à l’écoute de vos besoins"
  }
}
</i18n>

<style scoped>
.bodyAccueil {
  position: relative;
}
.buttonAccueil {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: 1;
}
.contentAccueil {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 90px;
}
.h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
}
.secondDividerRounded {
  border: 4px solid #36b5cd;
  border-radius: 10px;
  width: 60px;
}
.subtitleContent {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.dividerGreen {
  border: 1px solid #02993b;
  border-radius: 1px;
  width: 88px;
}
.dividerWhite {
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 88px;
}
.card1 {
  width: 168px;
  padding-left: auto;
  padding-right: auto;
}
.card2 {
  width: 168px;
  background-color: #00c742;
}
.card3 {
  width: 168px;
  background-color: #4869d6;
}
.card4 {
  width: 168px;
  background-color: #36b5cd;
}
.cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.containerCards {
  width: 100%;
}
.containerTitle {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 181, 205, 0.6);
  min-width: 30%;
  left: 10%;
  bottom: 10%;
}
.dividerRounded {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 60px;
}
.colorBlue {
  color: #36B5CD;
}
.mainContainerBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.smallDivider {
  border: 1px solid #36B5CD;
  border-radius: 1px;
  width: 88px;
}
.shadowImg {
-webkit-box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5);
}
</style>
