<template>
  <div>
      <Header></Header>
    <LegalNotice></LegalNotice>
  </div>
</template>

<script>
import Header from '../components/Header';
import LegalNotice from '../components/LegalNotice';


export default {
  name: 'Legalnotice',
  components: {
      Header,
      LegalNotice,
  },
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
