<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>

    <div class="bodyAccueil">
      <v-img class="mb-5" max-height="60vh" max-width="100%" :src="require('../assets/nosvaleurs/backgroundImgNosValeurs.jpeg')">
                  <div class="containerTitle pa-6">
        <h1 class="white--text">{{$t("TITLE")}}</h1>
       <hr class="dividerRounded my-3 mb-5" />
      
      </div>
      </v-img>

      <ButtonsClientColis class="buttonAccueil"></ButtonsClientColis>
      <div class="subtitleContent d-flex flex-column align-center">
<!--         <h1 class="h2 ma-3 text-center mt-16">{{$t("QUI SOMMES-NOUS")}}</h1>
        <div class="containerSecondDividerRounded d-flex justify-center">
          <hr class="secondDividerRounded mb-3 ml-3 align-center" />
        </div> -->
<!--         <p class="ml-3 pa-1">
          L'introduction générale de cette section est utilisée pour aider à la
          mise en page de la page Web, ce qui donne à la page Web un aspect plus
          détaillé.
        </p> -->
      </div>

      <div class="containerCards my-10 mb-16 px-1">
        <v-row class="cards">
          <v-col class="card1 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/cerveau.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold">{{$t("TITLE1")}}</p>
            </div>
            <div>
              <hr class="dividerGreen mb-2" />
            </div>
            <div>
              <p class="cardDescription">
                {{$t("TEXT1")}}
              </p>
            </div>
          </v-col>
          <v-col class="card2 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/analytique.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold white--text">{{$t("TITLE2")}}</p>
            </div>
            <div>
              <hr class="dividerWhite mb-2" />
            </div>
            <div>
              <p class="cardDescription white--text">
                {{$t("TEXT2")}}
              </p>
            </div>
          </v-col>
          <v-col class="card1 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/avis-client.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold">{{$t("TITLE3")}}</p>
            </div>
            <div>
              <hr class="dividerGreen mb-2" />
            </div>
            <div>
              <p class="cardDescription">
                {{$t("TEXT3")}}
              </p>
            </div>
          </v-col>
          <v-col class="card3 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/gestion-de-projet.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold white--text">{{$t("TITLE4")}}</p>
            </div>
            <div>
              <hr class="dividerWhite mb-2" />
            </div>
            <div>
              <p class="cardDescription white--text">
                {{$t("TEXT4")}}
              </p>
            </div>
          </v-col>
          <v-col class="card1 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/empreinte-carbone.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold">{{$t("TITLE5")}}</p>
            </div>
            <div>
              <hr class="dividerGreen mb-2" />
            </div>
            <div>
              <p class="cardDescription">
                {{$t("TEXT5")}}
              </p>
            </div>
          </v-col>
          <v-col class="card4 py-4" align="center" justify="center">
            <div>
              <v-img
                :src="require('../assets/nosvaleurs/esprit-d\'equipe.png')"
                height="72px"
                width="72px"
                class=""
               eager ></v-img>
            </div>
            <div>
              <p class="mt-5 font-weight-bold white--text">{{$t("TITLE6")}}</p>
            </div>
            <div>
              <hr class="dividerWhite mb-2" />
            </div>
            <div>
              <p class="cardDescription white--text">
                {{$t("TEXT6")}}
              </p>
            </div>
          </v-col>
        </v-row>
      </div>
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import ButtonsClientColis from "../components/ClientCommandeBtn";
import Contact from "../components/Contact";
import Footer from "../components/Footer";

export default {
  name: "NosValeurs",
  components: {
    Header2,
    ButtonsClientColis,
    Contact,
    Footer,
  },
  data: () => ({
        nav: 2,
  }),
  props: {},
  methods: {
    goToScrollContact() {
      const el = this.$el.getElementsByClassName("contact")[0];

      el.scrollIntoView();
    },
  },
};
</script>

<i18n>
{
  "en": {
    "QUI SOMMES-NOUS": "WHO ARE WE",
    "TITLE": "Our Values",
    "TITLE1": "EXPERTISE",
    "TITLE2": "PERFORMANCE",
    "TITLE3": "CUSTOMER SATISFACTION",
    "TITLE4": "INNOVATION",
    "TITLE5": "CARBON FOOTPRINT",
    "TITLE6": "TEAM SPIRIT",
    "TEXT1": "Team composed of experts in last mile.",
    "TEXT2": "KPI, 98% on-time delivery rate",
    "TEXT3": "Internal and reactive customer service to satisfy your customers. With a hotline and chat service available 6 days a week",
    "TEXT4": "Ecosystem designed internally to provide the best delivery experience",
    "TEXT5": "Reduced carbon footprint, with 25% of parcels delivered by electric vehicles and 2 wheels",
    "TEXT6": "Strong collaboration between different departments in order to adapt and best meet your needs"
  },
  "fr": {
    "QUI SOMMES-NOUS": "QUI SOMMES-NOUS",
    "TITLE": "Nos Valeurs",
    "TITLE1": "SAVOIR FAIRE",
    "TITLE2": "PERFORMANCE",
    "TITLE3": "SATISFACTION CLIENT",
    "TITLE4": "INNOVATION",
    "TITLE5": "EMPREINTE CARBONE",
    "TITLE6": "ESPRIT D’EQUIPE",
    "TEXT1": "Equipe composée d’experts dans le domaine du dernier Km.",
    "TEXT2": "KPI , taux livraison dans les délais à 98%",
    "TEXT3": "Service client en interne et réactif pour satisfaire au mieux vos clients. Avec mise à disposition d’une hotline et d'un service de Chat disponible 6 jours sur 7",
    "TEXT4": "Ecosystème conçu en interne afin de garantir la meilleure expérience de livraison",
    "TEXT5": "Une empreinte carbone réduite, avec 25% des colis livrés en véhicules électriques et 2 roues",
    "TEXT6": "Etroite collaboration entre les différents services afin de s’adapter et satisfaire au mieux vos besoins"
  }
}
</i18n>

<style scoped>
.bodyAccueil {
  position: relative;
}
.buttonAccueil {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: 1;
}
.contentAccueil {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 90px;
}
.h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
}
.secondDividerRounded {
  border: 4px solid #36b5cd;
  border-radius: 10px;
  width: 60px;
}
.subtitleContent {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.dividerGreen {
  border: 1px solid #02993b;
  border-radius: 1px;
  width: 88px;
}
.dividerWhite {
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 88px;
}
.card1 {
  width: 168px;
  padding-left: auto;
  padding-right: auto;
}
.card2 {
  width: 168px;
  background-color: #00a738;
}
.card3 {
  width: 168px;
  background-color: #4869d6;
}
.card4 {
  width: 168px;
  background-color: #36b5cd;
}
.cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.containerCards {
  width: 100%;
}
.containerTitle {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 181, 205, 0.6);
  min-width: 30%;
  left: 10%;
  bottom: 10%;
}
.dividerRounded {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 60px;
}
</style>
