<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>
    <div class="mainTitle">
      <h1 class="ml-3 mt-14 text-center mainColor">{{$t("TITLE")}}</h1>
    </div>

    <div class="mainContainerBody">
      <div class="containerBanniere">
        <div  class="shapeOutside"></div>
        <div class="textContainer my-12">
        <p>{{$t("FIRSTTEXT1")}}</p>
        <p>{{$t("FIRSTTEXT2")}}</p>
        </div>
        
      </div>
      <h1 class="ml-3 mt-14 text-center secondMainTitle mainColor">{{$t("TITLEBIS")}}</h1>
      <h3 class="ml-3 mb-14 text-center  secondColor">{{$t("TITLEBIS2")}}</h3>
      <v-row align="center">
        <v-col>
          <v-img :src="require('../assets/quisommesnous/livraisonstandard1.png')" max-width="400px" max-height="400px" eager ></v-img>
        </v-col>
        <v-col>
          <h1 class="mainColor">{{$t("TITLE1")}}</h1>
          <p>{{$t("TEXT1")}}</p>
        </v-col>
      </v-row>
      <v-row align="center" class="mb-14">
        <v-col order="last">
          <v-img class="ml-auto" :src="require('../assets/quisommesnous/livraisonstandard2.png')" max-width="420px" max-height="420px" eager ></v-img>
        </v-col>
                <v-col order="first">
        <h1 class="mainColor">{{$t("TITLETRACK")}}</h1>
          <p>{{$t("TEXT2")}}<br>​<br>{{$t("TEXT2BIS")}}</p>
        </v-col>
      </v-row>
      <v-row align="center">
        <v-col>
          <v-img :src="require('../assets/quisommesnous/livraisonsoir.png')" max-width="400px" max-height="300px" eager ></v-img>
        </v-col>
        <v-col>
          <h1 class="mainColor">{{$t("TITLE2")}}</h1>
          <p>{{$t("TEXT3")}}<br><br>{{$t("TEXT3BIS")}}</p>
        </v-col>
      </v-row>
            <v-row align="center">
        <v-col order="last">
          <v-img class="ml-auto" :src="require('../assets/quisommesnous/pointrelais.png')" max-width="260px" max-height="310px" eager ></v-img>
        </v-col>
                <v-col order="first">
          <h1 class="mainColor">{{$t("TITLE3")}}</h1>
          <p>{{$t("TEXT4")}}</p>
        </v-col>
      </v-row>
            <v-row align="center">
        <v-col>
          <v-img :src="require('../assets/quisommesnous/gestiondesretours.png')" max-width="350px" max-height="350px" eager ></v-img>
        </v-col>
        <v-col>
          <h1 class="mainColor">{{$t("TITLE4")}}</h1>
          <p>{{$t("TEXT5")}}</p>
        </v-col>
      </v-row>

    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import Footer from "../components/Footer";

export default {
  name: "DevenirPartenaires",
  components: {
    Header2,
    Footer,
  },
  data: () => ({
        nav: 1,
    items: [

    ],
  }),
  props: {},
  methods: {
        goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirPartenaires/formulaire") {
        this.$router.push("/devenirPartenaires/formulaire");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLETRACK": "TRACK AND TRACE",
    "FIRSTTEXT1": "ColiColi est une Start-up innovante du dernier kilomètre, bâtie à partir des besoins clients, offrant une prestation complète en intervenant de la collecte à la livraison.",
    "FIRSTTEXT2": "Notre objectif est de garantir la meilleure expérience de livraison à des tarifs compétitifs.",
    "TITLE": "Le dernier kilomètre imaginé pour vous",
    "TITLEBIS": "Nos solutions de livraisons",
    "TITLEBIS2": "Colicoli la solution souple, rapide imaginée pour vous",
    "BTNPARTENAIRE": "Become partner",
    "TITLE1": "LIVRAISON STANDARD",
    "SUBTITLE1": "Conditions:",
    "SUBTITLETEXT1": "to be a freelancers, over 18 years old, able to move by oneself (motorcycle, bicycle, car, bicycle, scooter, rollerblade, on foot). It’s simple, isn’t it?",
    "TITLE2": "LIVRAISON SOIR & WEEK-END",
    "TITLE3": "DROP POINT",
    "TITLE4": "GESTION DES RETOURS",
    "TEXT1": "Nos « Coliman » déposent vos colis directement en boîte aux lettres. Ils peuvent également vous joindre pour vous remettre le colis en main propre, à un voisin ou en point relais. Nous reprogrammons automatiquement une deuxième tentative de livraison. ",
    "TEXT2": "En plus de suivre votre colis sur notre portail, des e-mails et SMS sont envoyés lors du parcours de livraison.",
    "TEXT2BIS": "Afin de sécuriser les envois, nos outils sont accompagnés d'un système de géolocalisation et de photos comme preuve de livraison.",
    "TEXT3": "Vous ne pouvez pas récupérer votre colis car vous êtes absent ?",
    "TEXT3BIS": "ColiColi propose des livraisons le soir et le week-end.",
    "TEXT4": "Nous réalisons également des livraisons en points relais, à travers différents partenaires pour vous procurer la meilleure expérience.",
    "TEXT5": "Via nos chauffeurs ou notre réseau de points relais, vous pouvez effectuer vos retours."
  },
  "fr": {
    "TITLETRACK": "TRACK AND TRACE",
    "FIRSTTEXT1": "ColiColi est une Start-up innovante du dernier kilomètre, bâtie à partir des besoins clients, offrant une prestation complète en intervenant de la collecte à la livraison.",
    "FIRSTTEXT2": "Notre objectif est de garantir la meilleure expérience de livraison à des tarifs compétitifs.",
    "TITLE": "Le dernier kilomètre imaginé pour vous",
    "TITLEBIS": "Nos solutions de livraisons",
    "TITLEBIS2": "Colicoli la solution souple, rapide imaginée pour vous",
    "BTNPARTENAIRE": "Devenir partenaire",
    "TITLE1": "LIVRAISON STANDARD",
    "SUBTITLE1": "Conditions:",
    "SUBTITLETEXT1": "Pour devenir chauffeur : avoir plus de 18 ans, pouvoir se déplacer (moto, vélo, voiture). C'est simple n'est-ce pas?",
    "TITLE2": "LIVRAISON SOIR & WEEK-END",
    "TITLE3": "POINT RELAIS",
    "TITLE4": "GESTION DES RETOURS",
    "TEXT1": "Nos « Coliman » déposent vos colis directement en boîte aux lettres. Ils peuvent également vous joindre pour vous remettre le colis en main propre, à un voisin ou en point relais. Nous reprogrammons automatiquement une deuxième tentative de livraison. ",
    "TEXT2": "En plus de suivre votre colis sur notre portail, des e-mails et SMS sont envoyés lors du parcours de livraison.",
    "TEXT2BIS": "Afin de sécuriser les envois, nos outils sont accompagnés d'un système de géolocalisation et de photos comme preuve de livraison.",
    "TEXT3": "Vous ne pouvez pas récupérer votre colis car vous êtes absent ?",
    "TEXT3BIS": "ColiColi propose des livraisons le soir et le week-end.",
    "TEXT4": "Nous réalisons également des livraisons en points relais, à travers différents partenaires pour vous procurer la meilleure expérience.",
    "TEXT5": "Via nos chauffeurs ou notre réseau de points relais, vous pouvez effectuer vos retours."
  }
}
</i18n>

<style scoped>
.containerBanniere {
border: 1px solid white;
height: 400px;
background: no-repeat right/60% url('../assets/quisommesnous/backgroundquisommesnous.png');
    
}
.mainDivider {
  border: 2px solid #36B5CD;
  border-radius: 1px;
  width: 75%;
}
.coli1 {
color: #02993B;
}
.coli2 {
color: #36B5CD;
}
.smallDivider {
  border: 1px solid #36B5CD;
  border-radius: 1px;
  width: 88px;
}
.mainTitle {
  max-width: 720px;
  margin-right: 30%;
  margin-left: auto;
  font-size: 20px;
}
.mainContainerBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.greyBackground {
  background-color: #DDDDDD;
}
.buttonPostuler {
  width: 100%;
  border-radius: 16px;
}

.shapeOutside {
  content: "";
  width: 60%;
height: 100%;
float: right;
clip-path:  polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
shape-outside: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);

}
.mainColor {
  color: #02993B;
}
.secondColor {
  color: #87dfbf;
}
.secondMainTitle {
  font-size: 50px;
}
</style>
