<template>
  <div>
    <Header2 :nav="nav"></Header2>
    <v-img eager min-height="60vh" max-height="60vh" :src="require('../assets/recrutement/backgroundImgRecrutement.jpeg')">
                      <div class="containerTitle pa-6">
        <h1 class="white--text"><!-- {{$t("TITLE")}} -->Rejoignez notre équipe</h1>
       <hr class="dividerRounded my-3 mb-5" />
      
      </div>
      </v-img>
<!--     <h1 class="h2 ma-3 text-center mt-9">Rejoignez notre équipe</h1> -->

    <v-form class="myForm py-9" ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-text-field
          v-model="prenom"

          :rules="prenomRules"
          label="Prénom"
          required
          outlined
          class="textField"
        ></v-text-field>
      </v-row>
      <v-row>
        <v-text-field
          v-model="nom"
          :rules="nomRules"
          label="Nom"
          required
          class="textField"
          outlined
        ></v-text-field>
      </v-row>
      <v-row>
        <v-col class="pa-1">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required
            class="textField"
            outlined
          ></v-text-field>
        </v-col>
        <v-col class="pa-1">
          <v-text-field
            v-model="telephone"
            :rules="telephoneRules"
            label="Téléphone"
            required
            class="textField"
            outlined
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pa-1">
          <v-select
            v-model="select"
            :items="items"
            :rules="[(v) => !!v || 'Item is required']"
            label="Stagiaire"
            required
            outlined
            class="textField"
          ></v-select>
        </v-col>
        <v-col class="pa-1">
          <v-text-field
            v-model="date"
            :rules="dateRules"
            label="Date de début"
            required
            class="textField"
            outlined
          ></v-text-field>
        </v-col>
      </v-row>
            <v-row>
        <v-text-field
          v-model="linkedin"

          :rules="prenomRules"
          label="Linkedin URL"
          required
          outlined
          class="textField"
        ></v-text-field>
      </v-row>
      <v-row>
        <v-checkbox
          v-model="checkbox"
          :rules="[(v) => !!v || 'You must agree to continue!']"
          label="J'accepte les termes et conditions"
          required
        ></v-checkbox>
      </v-row>
      <v-row>
        <v-btn
          :disabled="!valid"
          color="#02993B"
          @click="validate"
          class="white--text font-weight-bold buttonPostuler"
        >
          Postuler
        </v-btn>
      </v-row>
    </v-form>

    <Footer></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import Footer from "../components/Footer";

export default {
  name: "Recrutement",
  components: {
    Header2,
    Footer,
  },
  data: () => ({
        nav: 5,
    valid: true,
    prenom: "",
    prenomRules: [
      (v) => !!v || "Prénom is required",
      //(v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    nom: "",
    nomRules: [
      (v) => !!v || "Nom is required",
      //(v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    telephone: "",
    telephoneRules: [
      (v) => !!v || "Telephone is required",
      (v) =>
        /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(v) ||
        "Telephone must be valid",
    ],
    date: "",
    dateRules: [
      (v) => !!v || "Date is required",
      (v) =>
        /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/.test(
          v
        ) || "Date must be valid dd/mm/yyyy",
    ],
    select: null,
    items: ["Stagiaire", "Alternant", "Item 3", "Item 4"],
    checkbox: false,
  }),
  props: {},
  methods: {
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>

<style scoped>
.h2 {
  color: black;
  font-size: 40px;
}
.myForm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.test{
  border : 1px solid  red;
}
.textField >>> label{
  color: #02993B;
}
.textField >>> fieldset{
  background-color: #EAF7EF;
  border: 0px;
  border-radius: 16px;
}
.buttonPostuler {
  width: 100%;
  border-radius: 16px;
}
.containerTitle {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 181, 205, 0.6);
  min-width: 30%;
  left: 10%;
  bottom: 10%;
}
.dividerRounded {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 60px;
}
</style>