<template>
  <div class="pageContainer">
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>
    <div class="mainTitle">
      <h1 class="ml-3 mt-14">Gagnez du temps : Suivez vous-même votre colis</h1>
    </div>
    <div class="d-flex justify-start align-end">
      <hr class="mainDivider"/>
      <div>
        <v-img :src="require('../assets/logoBirdColicoli.png')" width="50px" height="40px"></v-img>
      </div>
    </div>
    <!-- <div class="mainContainerBody"> -->
      <v-row  justify="center"  class="mainContainerBody py-10">
        <v-col>
      <PortailSuivisColis></PortailSuivisColis>
      </v-col>
      </v-row>
    <!-- </div> -->
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import PortailSuivisColis from "../components/PortailSuivisColis2"
import Footer from "../components/Footer";

export default {
  name: "SuivisColis",
  components: {
    Header2,
    PortailSuivisColis,
    Footer,
  },
  data: () => ({
        nav: 6,
    items: [

    ],
  }),
  props: {},
  methods: {
        goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirPartenaires/formulaire") {
        this.$router.push("/devenirPartenaires/formulaire");
      }
    },
  },
};
</script>

<style scoped>
.mainDivider {
  border: 2px solid #36B5CD;
  border-radius: 1px;
  width: 75%;
}
.coli1 {
color: #02993B;
}
.coli2 {
color: #36B5CD;
}
.smallDivider {
  border: 1px solid #36B5CD;
  border-radius: 1px;
  width: 88px;
}
.mainTitle {
  max-width: 720px;
  margin-right: 30%;
  margin-left: auto;
}
.mainContainerBody {
height: 80%;
}
.greyBackground {
  background-color: #DDDDDD;
}
.buttonPostuler {
  width: 100%;
  border-radius: 16px;
}
</style>
