<template>
  <div>
    <Header2 v-on:eventScroll="goToScrollContact" :nav="nav"></Header2>

    <div class="bodyAccueil">
<!--       <div class="containerTitle pa-6">
        <h1 class="white--text">E-commerçants</h1>
       <hr class="dividerRounded my-3 mb-5" />
       <v-btn class="colorBlue" elevation="0" rounded>DEVENIR CLIENT</v-btn>
      </div> -->
      <v-img eager min-height="50vh" max-height="50vh" :src="require('../assets/nosclients/transporteurs/backgroundImgTransporteurs.png')">
            <div class="containerTitle pa-6">
        <h1 class="white--text">{{$t("TITLE")}}</h1>
       <hr class="dividerRounded my-3 mb-5" />
       <v-btn class="colorBlue" elevation="0" @click="goToDevenirClient" rounded>{{$t("BTNCLIENT")}}</v-btn>
      </div>
            <ButtonsClientColis class="buttonAccueil"></ButtonsClientColis>
      </v-img>
    <div class="mainContainerBody my-14">
     
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" :src="require('../assets/nosclients/transporteurs/transporteurs1.png')" max-width="389px" max-height="376px" eager ></v-img>
        </v-col>
        <v-col>
          <h1>{{$t("TITLE1")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT1")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col order="last">
          <v-img class="shadowImg ml-auto" :src="require('../assets/nosclients/transporteurs/transporteur2.jpg')" max-width="408px" max-height="405px" eager ></v-img>
        </v-col>
                <v-col order="first">
          <h1 class="text-uppercase">{{$t("TITLE2")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT2")}}</p>
        </v-col>
      </v-row>
      <v-row class="my-5" align="center">
        <v-col>
          <v-img class="shadowImg" :src="require('../assets/nosclients/transporteurs/transporteur3.jpg')" max-width="420px" max-height="392px" eager ></v-img>
        </v-col>
        <v-col>
          <h1>{{$t("TITLE3")}}</h1>
          <hr class="smallDivider my-3"/>
          <p>{{$t("TEXT3")}}<br>{{$t("TEXT3BIS")}}</p>
        </v-col>
      </v-row>
    </div>
      
    </div>
    <Footer class="footer"></Footer>
  </div>
</template>

<script>
import Header2 from "../components/Header2";
import ButtonsClientColis from "../components/ClientCommandeBtn";
import Footer from "../components/Footer";

export default {
  name: "Transporteurs",
  components: {
    Header2,
    ButtonsClientColis,
    Footer,
  },
  data: () => ({
        nav: 3,
  }),
  props: {},
  methods: {
    goToScrollContact() {
      const el = this.$el.getElementsByClassName("contact")[0];

      el.scrollIntoView();
    },
            goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirClient") {
        this.$router.push("/devenirClient");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "TITLE": "Carriers and Logisticians",
    "BTNCLIENT": "Become a customer",
    "TITLE1": "EFFECTIVENESS",
    "TITLE2": "Nouvel acteur sur le marché",
    "TITLE3": "PERSONALIZED CUSTOMER EXPERIENCE",
    "TEXT1": "ColiColi offers your customers the choice of selecting the delivery time slot of their order",
    "TEXT2": "Plus de saturation . Demande croissante du marché , les transporteurs historiques arrivent moins à suivre . Diversifié soin portefeuille fournisseur",
    "TEXT3": "Our product ecosystem ensures the best delivery experience at attractive rates.",
    "TEXT3BIS": "Our TMS geolocates the carrier to give you visibility in real time."
  },
  "fr": {
    "TITLE": "Transporteurs et Logisticiens",
    "BTNCLIENT": "Devenir client",
    "TITLE1": "EFFICACITE",
    "TITLE2": "Nouvel acteur sur le marché",
    "TITLE3": "EXPERIENCE CLIENT PERSONALISEE",
    "TEXT1": "ColiColi propose à vos clients le choix de sélectionner le créneau horaire de livraison de leur commande",
    "TEXT2": "Plus de saturation . Demande croissante du marché , les transporteurs historiques arrivent moins à suivre . Diversifié soin portefeuille fournisseur",
    "TEXT3": "Notre écosystème de produits permet de garantir la meilleure expérience de livraison à des tarifs attractifs.",
    "TEXT3BIS": "Notre TMS géolocalise le transporteur afin de vous donner de la visibilité en temps réel."
  }
}
</i18n>

<style scoped>
.bodyAccueil {
  position: relative;
}
.buttonAccueil {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: 1;
}
.contentAccueil {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 90px;
}
.h2 {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
}
.secondDividerRounded {
  border: 4px solid #36b5cd;
  border-radius: 10px;
  width: 60px;
}
.subtitleContent {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.dividerGreen {
  border: 1px solid #02993b;
  border-radius: 1px;
  width: 88px;
}
.dividerWhite {
  border: 1px solid #ffffff;
  border-radius: 1px;
  width: 88px;
}
.card1 {
  width: 168px;
  padding-left: auto;
  padding-right: auto;
}
.card2 {
  width: 168px;
  background-color: #00c742;
}
.card3 {
  width: 168px;
  background-color: #4869d6;
}
.card4 {
  width: 168px;
  background-color: #36b5cd;
}
.cards {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.containerCards {
  width: 100%;
}
.containerTitle {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 181, 205, 0.6);
  min-width: 30%;
  left: 10%;
  bottom: 10%;
}
.dividerRounded {
  border: 3px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.99);
  width: 60px;
}
.colorBlue {
  color: #36B5CD;
}
.mainContainerBody {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.smallDivider {
  border: 1px solid #36B5CD;
  border-radius: 1px;
  width: 88px;
}
.shadowImg {
-webkit-box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 21px 7px rgba(0,0,0,0.5);
}
</style>
