<template>
<div class="d-flex flex-column">
  <v-btn color="#7ACC28" class="ma-1 pa-2 white--text" rounded medium elevation="0" @click="goToDevenirClient">
    {{ $t("DEVENIR CLIENT") }}
  </v-btn>
    <v-btn color="#36B5CD" class="ma-1 pa-2 white--text" rounded medium elevation="0" @click="goToSuivisColis">
    {{ $t("SUIVRE COMMANDE") }}
  </v-btn>
</div>
</template>

<script>
export default {
  name: "ClientCommandeBtn",
  methods: {
            goToDevenirClient() {
      if (this.$router.history.current.path !== "/devenirClientt") {
        this.$router.push("/devenirClient");
      }
    },
                goToSuivisColis() {
      if (this.$router.history.current.path !== "/suivisColis") {
        this.$router.push("/suivisColis");
      }
    },
  }
};
</script>

<i18n>
{
  "en": {
    "SUIVRE COMMANDE": "FOLLOW ORDER",
    "DEVENIR CLIENT": "BECOME A CUSTOMER"
  },
  "fr": {
    "SUIVRE COMMANDE": "SUIVRE COMMANDE",
    "DEVENIR CLIENT": "DEVENIR CLIENT"
  }
}
</i18n>
