<template>
  <v-card class="d-flex justify-space-around flex-wrap pa-2 teste fondu" outlined tile>
    <div class="mycard d-flex justify-center align-center">
      <h1 class="font-weight-thin white--text">{{ $t("contactUs") }}</h1>
    </div>
    <div class="mycard d-flex justify-center align-center">
      <v-container>
              <v-row >
          <h2 class="white--text">{{ $t("titleContact") }}</h2></v-row>
      <v-row>
      <v-col cols="6" >

        <v-row  id="contact" align="center"><h3 class="white--text">{{ $t("byPhone") }}</h3><v-icon color="white">mdi-cellphone-android</v-icon></v-row>
        <h4 class="text-overline white--text">01 70 61 30 71</h4>
        <h4 class="text-overline white--text">{{ $t("dateMondayFriday") }}</h4>
        <h4 class="text-overline white--text">{{ $t("dateSaturday") }}</h4>
      </v-col>
      <v-col cols="6">
        <v-row><h3 class="white--text">{{ $t("byChat") }}</h3><v-icon color="white">mdi-chat</v-icon></v-row>
        <h4 class="text-overline white--text">{{ $t("customerService") }}</h4>
      </v-col>
      </v-row>
      </v-container>
    </div>
  </v-card>
</template>

<script>
export default {
  name: "Contact",
  props: {},
};
</script>

<i18n>
{
  "en": {
    "contactUs": "CONTACT US",
    "titleContact": "You can contact us",
    "byPhone": "By Phone",
    "byMail": "By mail",
    "dateMondayFriday": "Monday to Friday 8:00 a.m. to 7:00 p.m.",
    "dateSaturday": "Saturday 10:00 a.m. to 5:00 p.m.",
    "byChat": "By Chatbox",
    "customerService": "Our customer service is available directly from our Chatbox!"
  },
  "fr": {
    "contactUs": "CONTACTEZ NOUS",
    "titleContact": "Vous pouvez nous contacter",
    "byPhone": "Par téléphone",
    "byMail": "Par mail",
    "dateMondayFriday": "De Lundi à Vendredi de 8h00 à 19h00",
    "dateSaturday": "Le Samedi de 10h00 à 17h00",
    "byChat": "Par Chatbox",
    "customerService": "Notre service client est disponible directement depuis notre Chatbox!"
  }
}
</i18n>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.test {
  border: 3px solid green;
}
.teste {
  border: 0px;
}
.mycard {
/*   width: 100%; */
  height: 400px;
}
.fondu {
  background: rgb(0, 115, 47);
  background: linear-gradient(
    180deg,
    rgba(0, 115, 47, 0.20351890756302526) 0%,
    rgba(0, 115, 47, 1) 90%
  );
}
</style>
