<template>
  <v-footer class="mainFooter" color="#02993B">
    <v-row justify="space-around">
      <v-col md="2">
        <v-img
          :src="require('../assets/logoColicoliFooter.png')"
          width="150px"
          height="auto"
        >
        </v-img>
      </v-col>
      <v-col md="2">

        <v-row>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text font-weight-bold my-2">{{$t("L'ENTREPRISE:")}}</v-list-item-title>
              <v-list-item-subtitle @click="goToQuiSommeNous" class="white--text pointer">{{$t("Qui sommes-nous?")}} </v-list-item-subtitle>
              <v-list-item-subtitle @click="goToNosValeurs" class="white--text pointer">{{$t("Nos valeurs")}}</v-list-item-subtitle>
              <v-list-item-subtitle @click="goToEcommerce" class="white--text pointer">{{$t("Ecommerce")}}</v-list-item-subtitle>
              <v-list-item-subtitle @click="goToBoutique" class="white--text pointer">{{$t("Boutique")}}</v-list-item-subtitle>
              <v-list-item-subtitle @click="goToTransporteur" class="white--text pointer">{{$t("Transporteur")}}</v-list-item-subtitle>
              <v-list-item-subtitle @click="goToCommande" class="white--text pointer">{{$t("Suivre ma commande")}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>
      </v-col>
      <v-col md="2">
        <v-row>
          <v-list-item>
            <v-list-item-content>

              <v-list-item-subtitle class="white--text"
                >{{$t("Charte de confidentialité et cookies")}}</v-list-item-subtitle
              >
              <v-list-item-subtitle class="white--text">{{$t("Informations légales")}}</v-list-item-subtitle>
                            <v-list-item-subtitle class="white--text"
                >{{$t("Devenir partenaire COLICOLI")}}</v-list-item-subtitle
              >
              <v-list-item-subtitle @click="goToRejoignez" class="white--text pointer">{{$t("Nous rejoindre")}}</v-list-item-subtitle>
              <v-list-item-subtitle class="white--text font-weight-bold my-2">{{$t("Horaire ouverture")}}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>
      </v-col>
      <v-col md="2">
        <v-row>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title class="white--text font-weight-bold my-2">{{$t("SUIVEZ-NOUS !")}}</v-list-item-title>
              <v-list-item-subtitle>
                <v-btn class="mr-4 my-2 white--text" icon>
                  <v-icon size="48px"> mdi-linkedin </v-icon>
                </v-btn>
                <v-btn class="mr-4 my-2 white--text" icon>
                  <v-icon size="48px"> mdi-facebook </v-icon>
                </v-btn>
                <v-btn class="mr-4 my-2 white--text" icon>
                  <v-icon size="48px"> mdi-instagram </v-icon>
                </v-btn>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>
        <v-row>
                    <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle class="white--text">© COLICOLI 2021</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-row>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  props: {},
  methods: {
    goToQuiSommeNous() {
      if (this.$router.history.current.path !== "/quiSommesNous") {
        this.$router.push("/quiSommesNous");
      }
    },
    goToNosValeurs() {
      if (this.$router.history.current.path !== "/nosValeurs") {
        this.$router.push("/nosValeurs");
      }
    },
    goToEcommerce() {
      if (this.$router.history.current.path !== "/e-commercants") {
        this.$router.push("/e-commercants");
      }
    },
    goToBoutique() {
      if (this.$router.history.current.path !== "/boutiques") {
        this.$router.push("/boutiques");
      }
    },
    goToTransporteur() {
      if (this.$router.history.current.path !== "/transporteurs") {
        this.$router.push("/transporteurs");
      }
    },
    goToCommande() {
      if (this.$router.history.current.path !== "/suivisColis") {
        this.$router.push("/suivisColis");
      }
    },
    goToRejoignez() {
      if (this.$router.history.current.path !== "/recrutement") {
        this.$router.push("/recrutement");
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "Nous rejoindre": "Nous rejoindre",
    "Suivre ma commande": "Follow order",
    "Contactez-nous": "Contact us",
    "L'ENTREPRISE:": "THE COMPANY :",
    "Qui sommes-nous?": "Who are we?",
    "Nos valeurs": "Our Value",
    "Avis client": "Customer reviews",
    "Charte de confidentialité et cookies": "Confidentiality and cookies charter",
    "Informations légales": "Informations légales",
    "Devenir partenaire COLICOLI" : "Legal information",
    "RECRUTEMENT:": "RECRUITMENT :",
    "Devenir COLIMAN": "Become COLIMAN",
    "Rejoindre nos équipes": "Join our teams",
    "Meilleur prix garantis": "Best price guaranteed",
    "Contact 7J7": "Contact 7J7",
    "SUIVEZ-NOUS !": "FOLLOW US !",
    "Ecommerce": "E-commercants",
    "Boutique": "Boutiques",
    "Transporteur": "Transporteurs",
    "Horaire ouverture": "Ouvert du Lundi au vendredi de 9H à 19H (Paris Time)"
  },
  "fr": {
    "Nous rejoindre": "Nous rejoindre",
    "Suivre ma commande": "Suivre ma commande",
    "Contactez-nous": "Contactez-nous",
    "L'ENTREPRISE:": "L'ENTREPRISE :",
    "Qui sommes-nous?": "Qui sommes-nous?",
    "Nos valeurs": "Nos valeurs",
    "Avis client": "Nos client",
    "Charte de confidentialité et cookies": "Charte de confidentialité et cookies",
    "Informations légales": "Informations légales",
    "Devenir partenaire COLICOLI" : "Devenir partenaire COLICOLI",
    "RECRUTEMENT:": "RECRUTEMENT :",
    "Devenir COLIMAN": "Devenir COLIMAN",
    "Rejoindre nos équipes": "Rejoindre nos équipes",
    "Meilleur prix garantis": "Meilleur prix garantis",
    "Contact 7J7": "Contact 7J7",
    "SUIVEZ-NOUS !": "SUIVEZ-NOUS !",
    "Ecommerce": "E-commercants",
    "Boutique": "Boutiques",
    "Transporteur": "Transporteurs",
    "Horaire ouverture": "Ouvert du Lundi au vendredi de 9H à 19H (Paris Time)"
  }
}
</i18n>

<style scoped>
.mainFooter {
  width: 100%;
  min-height: 200px;
  color: #ffffff;
}
.pointer {cursor: pointer;}
</style>
