<template>
  <div class="main">
    <v-app-bar dark color="#02993B" height="80px">
      <v-app-bar-nav-icon v-if="$vuetify.breakpoint.width < 1090 ? true  : false" @click="drawer = true"></v-app-bar-nav-icon>
      <v-spacer></v-spacer>
      <v-app-bar-title @click="goToAccueil" class="clickLogo"
        ><v-img
          :src="require('../assets/logoColicoliWhite.png')"
          width="100%"
          height="auto"
        >
        </v-img
      ></v-app-bar-title>

      <v-spacer></v-spacer>
<div v-if="$vuetify.breakpoint.width < 1090 ? false  : true">
        <v-btn :class="{active:active, notActive: !active}" @click="goToAccueil" text rounded small>
        {{ $t("ACCUEIL") }}
      </v-btn>

      <v-btn :class="{active1:active1, notActive1: !active1}" @click="goToQuiSommesNous" text rounded small>
        {{ $t("QUI SOMMES-NOUS") }}
      </v-btn>

      <v-btn :class="{active2:active2, notActive2: !active2}"   @click="goToNosValeurs" text rounded small>
        {{ $t("NOS VALEURS") }}
      </v-btn>

                <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        :class="{active3:active3, notActive3: !active3}"
          v-bind="attrs"
          v-on="on"
          text rounded small
        >
          {{ $t("NOS CLIENTS") }}
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          link
           @click="goToEcommercant"
        >
          <v-list-item-title class="greenText">E-commerçants</v-list-item-title>
        </v-list-item>
                <v-list-item
          link
           @click="goToBoutiques"
        >
          <v-list-item-title class="greenText">Boutiques</v-list-item-title>
        </v-list-item>
                <v-list-item

          link
          @click="goToTransporteurs"
        >
          <v-list-item-title class="greenText" >Transporteurs</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

<!--       <v-btn :class="{active3:active3, notActive3: !active3}"  @click="goToNotice" text rounded small>
        {{ $t("NOS CLIENTS") }}
      </v-btn> -->
            <v-btn :class="{active4:active4, notActive4: !active4}"   @click="goToDevenirPartenaires" text rounded small>
        {{ $t("DEVENIR PARTENAIRES") }}
      </v-btn>
            <v-btn  :class="{active5:active5, notActive5: !active5}" @click="goToRecrutement" text rounded small>
        {{ $t("RECRUTEMENT") }}
      </v-btn>
</div>
      <v-spacer></v-spacer>
      <i18nSwitcher></i18nSwitcher>
    </v-app-bar>
    <v-navigation-drawer
      v-model="drawer"
      temporary
      class="navigationDrawer"
      color="#02993B"
      dark
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >                    
                <v-list-item>

<v-btn :class="{active:active, notActive: !active}" @click="goToAccueil" text rounded small>
        {{ $t("ACCUEIL") }}
      </v-btn>
          </v-list-item>
          <v-list-item>

      <v-btn :class="{active1:active1, notActive1: !active1}" @click="goToQuiSommesNous" text rounded small>
        {{ $t("QUI SOMMES-NOUS") }}
      </v-btn>
          </v-list-item>

          <v-list-item>
      <v-btn :class="{active2:active2, notActive2: !active2}"   @click="goToNosValeurs" text rounded small>
        {{ $t("NOS VALEURS") }}
      </v-btn>
          </v-list-item>

          <v-list-item>
                <v-menu offset-x>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        :class="{active3:active3, notActive3: !active3}"
          v-bind="attrs"
          v-on="on"
          text rounded small
        >
          {{ $t("NOS CLIENTS") }}
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          link
           @click="goToEcommercant"
        >
          <v-list-item-title class="greenText">E-commerçants</v-list-item-title>
        </v-list-item>
                <v-list-item
          link
           @click="goToBoutiques"
        >
          <v-list-item-title class="greenText">Boutiques</v-list-item-title>
        </v-list-item>
                <v-list-item

          link
          @click="goToTransporteurs"
        >
          <v-list-item-title class="greenText" >Transporteurs</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
          </v-list-item>

          <v-list-item>
            <v-btn :class="{active4:active4, notActive4: !active4}"   @click="goToDevenirPartenaires" text rounded small>
        {{ $t("DEVENIR PARTENAIRES") }}
      </v-btn>
          </v-list-item>

          <v-list-item>
            <v-btn  :class="{active5:active5, notActive5: !active5}" @click="goToRecrutement" text rounded small>
        {{ $t("RECRUTEMENT") }}
      </v-btn>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import i18nSwitcher from "./i18nSwitcher";

export default {
  name: "E-commercants",
  components: {
    i18nSwitcher,
  },
  props: ['nav'],
    data: () => ({
      active:false,
      active1:false,
      active2:false,
      active3:false,
      active4:false,
      active5:false,
      isMobile: false,
      drawer: false,
  }),
  methods: {
    goToAccueil() {
      if (this.$router.history.current.path !== "/accueil") {
        this.$router.push("/accueil");
      }
    },
    goToQuiSommesNous() {
      if (this.$router.history.current.path !== "/quiSommesNous") {
        this.$router.push("/quiSommesNous");
      }
    },
    goToNosValeurs() {
      if (this.$router.history.current.path !== "/nosValeurs") {
        this.$router.push("/nosValeurs");
      }
    },
    goToDevenirPartenaires() {
      if (this.$router.history.current.path !== "/devenirPartenaires") {
        this.$router.push("/devenirPartenaires");
      }
    },
    goToRecrutement() {
      if (this.$router.history.current.path !== "/recrutement") {
        this.$router.push("/recrutement");
      }
    },
        goToEcommercant() {
      if (this.$router.history.current.path !== "/e-commercants") {
        this.$router.push("/e-commercants");
      }
    },
        goToBoutiques() {
      if (this.$router.history.current.path !== "/boutiques") {
        this.$router.push("/boutiques");
      }
    },
        goToTransporteurs() {
      if (this.$router.history.current.path !== "/transporteurs") {
        this.$router.push("/transporteurs");
      }
    },
  },
  mounted () {
    switch (this.nav) {
      case 0:
        this.active = true;
        break;
      case 1:
        this.active1 = true;
        break;
      case 2:
        this.active2 = true;
        break;
      case 3:
        this.active3 = true;
        break;
      case 4:
        this.active4 = true;
        break;
      case 5:
        this.active5 = true;
        break;
      default:
        break;
    }
  }
};
</script>

<i18n>
{
  "en": {
    "ACCUEIL": "HOME",
    "QUI SOMMES-NOUS": "WHO ARE WE",
    "NOS VALEURS": "OUR VALUES",
    "NOS CLIENTS": "OUR CLIENTS",
    "DEVENIR PARTENAIRES": "BECOME A PARTNER",
    "RECRUTEMENT": "RECRUITMENT"
  },
  "fr": {
    "ACCUEIL": "ACCUEIL",
    "QUI SOMMES-NOUS": "QUI SOMMES-NOUS",
    "NOS VALEURS": "NOS VALEURS",
    "NOS CLIENTS": "NOS CLIENTS",
    "DEVENIR PARTENAIRES": "DEVENIR PARTENAIRES",
    "RECRUTEMENT": "RECRUTEMENT"
  }
}
</i18n>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.clickLogo {
cursor: pointer;
}
.buttonBasic {
  color: blue;
}
.active {
  color: #02993B !important; 
  background-color: #FFFFFF;
}
.notActive {
  color: #FFFFFF;
}
.active1 {
  color: #02993B !important;
  background-color: #FFFFFF;
   
}
.notActive1 {
  color: #FFFFFF;
}
.active2 {
  color: #02993B !important;
  background-color: #FFFFFF;
   
}
.notActive2 {
  color: #FFFFFF;
}
.active3 {
  color: #02993B !important;
  background-color: #FFFFFF;
   
}
.notActive3 {
  color: #FFFFFF;
}
.active4 {
  color: #02993B !important;
  background-color: #FFFFFF;
   
}
.notActive4 {
  color: #FFFFFF;
}
.active5 {
  color: #02993B !important;
  background-color: #FFFFFF;
   
}
.notActive5 {
  color: #FFFFFF;
}
.greenText {
  color: #02993B;
}
.navigationDrawer {
  position: absolute;
  z-index: 1000;
}
</style>
