<template>
  <div class="main">
    <v-app-bar color="white">
      <v-toolbar-title
        ><v-img
          :src="require('../assets/logoColiColi.png')"
          width="50%"
          height="auto"
        >
        </v-img
      ></v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn color="green" @click="goToHome" text>
        <v-icon left>mdi-home</v-icon>
        {{ $t("home") }}
      </v-btn>

      <v-btn color="green" @click="scrollMeTo" text>
        <v-icon left>mdi-email</v-icon>
        {{ $t("contactUs") }}
      </v-btn>

      <v-btn color="green" @click="goToNotice" text>
        <v-icon left>mdi-file-document</v-icon>
        {{ $t("legalNotice") }}
      </v-btn>
      <i18nSwitcher></i18nSwitcher>
    </v-app-bar>
  </div>
</template>

<script>
import i18nSwitcher from "./i18nSwitcher";

export default {
  name: "Header",
  components: {
    i18nSwitcher,
  },
  props: {},
  methods: {
    goToHome() {
      if (this.$router.history.current.path !== "/") {
        this.$router.push("/");
      }
    },
    goToNotice() {
      if (this.$router.history.current.path !== "/notice") {
        this.$router.push("/notice");
      }
    },
    scrollMeTo() {
      if (this.$router.history.current.path !== "/") {
        this.$router.push("/");
      } else {
        this.$emit("eventScroll");
      }
      /*         this.$router.push('/', ()=>{
          this.$root.$emit('eventScroll')
        }) */

      /*     var element = this.$refs[refName];
    var top = element.offsetTop;

    window.scrollTo(0, top); */
    },
  },
};
</script>

<i18n>
{
  "en": {
    "home": "Home",
    "contactUs": "Contact us",
    "legalNotice": "Legal Notice"
  },
  "fr": {
    "home": "Accueil",
    "contactUs": "Contactez-nous",
    "legalNotice": "Mentions légales"
  }
}
</i18n>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.main {
  position: relative;
}
</style>
