<template>
  <div class="locale-changer">
<!--       <button v-if="!active" @click="activeDropdown">test</button>
      <div class="dropdown" v-if="active">
      <div class="d-flex flex-column" v-for="language of languages" v-bind:key="language.flag">
          <flag :iso="language.flag" v-bind:squared="false" />
      </div>
      </div> -->
<!--       item-text="title"
      item-value="language"
      v-model="$i18n.locale" -->
    <v-select
      :items="languages"
      v-model="$i18n.locale"
      item-value="language"
      item-text="text"
      dense
      hide-selected
      hide-details
      solo
      flat
      class="pa-0 ma-0 test"
      background-color="#02993B"
    >
      <template v-slot:item="{item}">
        <flag :iso="item.flag" v-bind:squared="false" />
        <span>{{item.title}}</span>
      </template>
      <template v-slot:prepend-inner>
        <flag :iso="changeFlagIcon($i18n.locale)" v-bind:squared="false" />
      </template>
<!--       <template v-slot:placeholder="{ item }">
        <flag :iso="item.flag" v-bind:squared="false" />
        <span>{{item.title}}</span>
    </template> -->
    </v-select>
    <!--     <select v-model="$i18n.locale" :items="langues"> -->
    <!-- <option v-for="(lang, i) in languages" :key="`Lang${i}`" :value="lang.language"><flag :iso="lang.flag" v-bind:squared='false' />{{ lang.title }}</option> -->
    <!--     </select> -->
  </div>
</template>

<script>
export default {
  name: "locale-changer",
  data() {
    return {
      languages: [
        {
          flag: "gb",
          language: "en",
          title: "English",
          text: "",
        },
        {
          flag: "fr",
          language: "fr",
          title: "Français",
          text: "",
        }
      ],
      langues: ["fr", "en"],
      active: false,
    }; /* ['fr', 'en'] */
  },
  methods: {
      changeFlagIcon(i18n) {
          for (let index = 0; index < this.languages.length; index++) {
              const element = this.languages[index];
              if (element.language === i18n)
              return element.flag;
          }
      },

      activeDropdown() {
          this.active = !this.active;
      }
  }
};
</script>

<style scoped>
.test  {
    max-width: 50px;
}
.dropdown {
    position: absolute;
  /*   float: right; */
    z-index: 100000;
    top: 0%;
    right: 0%;
}
</style>