<template>
  <v-container>
    <h1>{{ $t("title") }}</h1>
    <p>{{ $t("ligne1") }}</p>
    <p>
      {{ $t("ligne2") }}
    </p>
    <p>{{ $t("ligne3") }}</p>
    <p>{{ $t("ligne4") }}</p>
    <p>{{ $t("ligne5") }}</p>
    <p>
      {{ $t("ligne6") }}
    </p>
    <p>{{ $t("ligne7") }}</p>
    <p>{{ $t("ligne8") }}</p>
    <p>{{ $t("ligne9") }}</p>
    <p>{{ $t("ligne10") }}2</p>
    <p>{{ $t("ligne11") }}</p>
  </v-container>
</template>

<script>
export default {
  name: "legalNotice",
};
</script>

<i18n>
{
  "en": {
    "title": "Legal Notice",
    "ligne1": "Site edited by C-Express",
    "ligne2": "Legal form Simplified joint stock company Share capital 10,000.00 Euros",
    "ligne3": "RCS, number 891 614 075 R.C.S. Bobigny",
    "ligne4": "Headquarters Address Fashion Center, Offices 3rd Floor 70",
    "ligne5": "Avenue Victor Hugo 93300 Aubervilliers",
    "ligne6": "Legal form Simplified joint stock company Share capital 10,000.00 Euros",
    "ligne7": "President S.Ghammad",
    "ligne8": "Director of publication: Mohamed LASSILA",
    "ligne9": "Hosting: OVHSAS with a capital of € 10,069,020 RCS Lille",
    "ligne10": "Metropolitan area 424 761 419 00045 Code APE 2620Z VAT number: FR 22",
    "ligne11": "424 761 419 Headquarters: 2 rue Kellermann - 59100 Roubaix - France"
  },
  "fr": {
    "title": "Mentions Légales",
    "ligne1": "Site édité par C-Express",
    "ligne2": "Forme juridique Société par actions simplifiée Capital social 10 000,00 Euros",
    "ligne3": "RCS, numéro 891 614 075 R.C.S. Bobigny",
    "ligne4": "Adresse du siège Fashion Centre, Bureaux 3ème Étage 70",
    "ligne5": "Avenue Victor Hugo 93300 Aubervilliers",
    "ligne6": "Forme juridique Société par actions simplifiée Capital social 10 000,00 Euros",
    "ligne7": "Président S.Ghammad",
    "ligne8": "Directeur de publication : Mohamed LASSILA",
    "ligne9": "Hébergement : OVHSAS au capital de 10 069 020 € RCS Lille",
    "ligne10": "Métropole 424 761 419 00045 Code APE 2620Z N° TVA : FR 22",
    "ligne11": "424 761 419 Siège social : 2 rue Kellermann - 59100 Roubaix - France"
  }
}
</i18n>
