
<template>
<div>
        <v-row justify="center" align="center">
          <v-icon x-large color="#02993B" class="pr-3">mdi-hand-pointing-right</v-icon>
          <v-text-field
            v-model="colisId"
            class="textFieldColis mt-5"
            color="#02993B"
            :label="$t('placeholderColicoli')"
            :loading="myLoading"
            filled
            dense
            rounded
          ></v-text-field>
                  <v-btn
          v-model="dialog"
          @click="onClickSubmit"
          color="#02993B"
          dark
          class="mx-5"
        >
          <v-icon left>mdi-magnify</v-icon>
          {{ $t("enter") }}
        </v-btn>
        </v-row>
        <v-dialog v-model="dialog" width="500">
          <v-card v-if='colisStatusHistoryViews !== "" '>
            <v-card-actions>
              <v-card-title>{{ colisId.toUpperCase() }}</v-card-title>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-actions>
            <v-divider></v-divider>
            <v-card-text class="pa-5">
              <v-timeline>
                <v-timeline-item
                  v-for="colisStatusHistoryView in colisStatusHistoryViews"
                  v-bind:key="colisStatusHistoryView.id"
                  class="mb-4"
                  :color="
                    filterColorTimelineItem(colisStatusHistoryView.status)
                  "
                  :small="
                    filterSizeSmallTimelineItem(colisStatusHistoryView.status)
                  "
                  :large="
                    filterSizeLargeTimelineItem(colisStatusHistoryView.status)
                  "
                  :icon="filterIconTimelineItem(colisStatusHistoryView.status)"
                  right
                  fill-dot
                >
                  <template v-slot:opposite>
                    <v-col class="text-center">
                      <v-row class="text-overline font-weight-black">{{
                        colisStatusHistoryView.statusDateFormat
                      }}</v-row>
                      <v-row class="text-overline">{{
                        colisStatusHistoryView.statusHourFormat
                      }}</v-row>
                    </v-col>
                  </template>
                  <v-row>
                    <v-col class="text-left">
                      <v-row
                        :class="
                          filterColorTimelineItem(
                            colisStatusHistoryView.status
                          ) + '--text'
                        "
                        class="text-h6"
                        >{{ colisStatusHistoryView.status }}</v-row
                      >
                      <v-row class="font-italic">{{
                        colisStatusHistoryView.deliveryReason
                      }}</v-row>
                      <div v-if="returnDeliveredCustomerInformation(colisStatusHistoryView.status)">
                        <v-row>
                          <v-icon>mdi-map-marker</v-icon>
                          {{
                            contactInformations.contactlabel.toUpperCase()
                          }}</v-row
                        >
                        <v-row>{{
                          contactInformations.contactstreet.toUpperCase()
                        }}</v-row>
                        <v-row
                          >{{
                            contactInformations.contactpostcode.toUpperCase()
                          }}
                          {{
                            contactInformations.contactcity.toUpperCase()
                          }}</v-row
                        >
                        <v-row>{{
                          contactInformations.contactcountry.toUpperCase()
                        }}</v-row>
                      </div>
                      <div
                        v-if="returnNotDeliveredSouffrance(colisStatusHistoryView)
                        "
                      >
                        <!-- && colisStatusHistoryView.deliveryReasonId.issouffrance === "1"  -->
                        <v-row>
                          <v-icon>mdi-alert</v-icon> {{ $t("contactCustomerService") }}
                        </v-row>
                      </div>
                      <v-row v-if="colisStatusHistoryView.colisInformation === 'Colis retourné à l\'expéditeur' || colisStatusHistoryView.colisInformation === 'Parcel returned to sender'" class="text-h6 red--text">{{
                        colisStatusHistoryView.colisInformation
                      }}</v-row>
                      <v-row v-else class="font-italic">{{
                        colisStatusHistoryView.colisInformation
                      }}</v-row>
                      <div v-if="returnTransfered(colisStatusHistoryView.status)">
                        <v-row class="font-italic">
                          {{ $t("clickColissimo") }}
                          <a
                            class="lienColissimo"
                            href="https://www.laposte.fr/outils/suivre-vos-envois"
                            target="_blank"
                            >{{ $t("hereColissiomo") }}</a
                          >
                          {{ $t("followColissimo") }}
                        </v-row>
                      </div>
                    </v-col>
                  </v-row>
                </v-timeline-item>
              </v-timeline>
              
            </v-card-text>
          </v-card>


                    <v-card v-if="colisStatusHistoryViewsArrays.length > 1">
            <v-card-actions>
              <v-card-title><!-- {{ colisId }} --> {{ $t("titleMultipleParcel") }}</v-card-title>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="dialog = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-card-actions>
            <v-divider></v-divider>
            <v-card-text class="pa-5">

              <v-timeline v-for="(contactInformationsArray, index) in contactInformationsArrays" v-bind:key="contactInformationsArray.colisid">
                              <v-divider></v-divider>
                <p class="text-h6">{{contactInformationsArray.colisid}}</p>
                <v-timeline-item
                  v-for="colisStatusHistoryView in colisStatusHistoryViewsArrays[index]"
                  v-bind:key="colisStatusHistoryView.id"
                  class="mb-4"
                  :color="
                    filterColorTimelineItem(colisStatusHistoryView.status)
                  "
                  :small="
                    filterSizeSmallTimelineItem(colisStatusHistoryView.status)
                  "
                  :large="
                    filterSizeLargeTimelineItem(colisStatusHistoryView.status)
                  "
                  :icon="filterIconTimelineItem(colisStatusHistoryView.status)"
                  right
                  fill-dot
                >

                  <template v-slot:opposite>
                    <v-col class="text-center">
                      <v-row class="text-overline font-weight-black">{{
                        colisStatusHistoryView.statusDateFormat
                      }}</v-row>
                      <v-row class="text-overline">{{
                        colisStatusHistoryView.statusHourFormat
                      }}</v-row>
                    </v-col>
                  </template>
                  <v-row>
                    <v-col class="text-left">
                      <v-row
                        :class="
                          filterColorTimelineItem(
                            colisStatusHistoryView.status
                          ) + '--text'
                        "
                        class="text-h6"
                        >{{ colisStatusHistoryView.status }}</v-row
                      >
                      <v-row class="font-italic">{{
                        colisStatusHistoryView.deliveryReason
                      }}</v-row>
                      <div v-if="returnDeliveredCustomerInformation(colisStatusHistoryView.status)">
                        <v-row>
                          <v-icon>mdi-map-marker</v-icon>
                          {{
                            contactInformationsArray.contactlabel.toUpperCase()
                          }}</v-row
                        >
                        <v-row>{{
                          contactInformationsArray.contactstreet.toUpperCase()
                        }}</v-row>
                        <v-row
                          >{{
                            contactInformationsArray.contactpostcode.toUpperCase()
                          }}
                          {{
                            contactInformationsArray.contactcity.toUpperCase()
                          }}</v-row
                        >
                        <v-row>{{
                          contactInformationsArray.contactcountry.toUpperCase()
                        }}</v-row>
                      </div>
                      <div
                        v-if="returnNotDeliveredSouffrance(colisStatusHistoryView)
                        "
                      >
                        <!-- && colisStatusHistoryView.deliveryReasonId.issouffrance === "1"  -->
                        <v-row>
                          <v-icon>mdi-alert</v-icon> {{ $t("contactCustomerService") }}
                        </v-row>
                      </div>
                      <v-row v-if="colisStatusHistoryView.colisInformation === 'Colis retourné à l\'expéditeur' || colisStatusHistoryView.colisInformation === 'Parcel returned to sender'" class="text-h6 red--text">{{
                        colisStatusHistoryView.colisInformation
                      }}</v-row>
                      <v-row v-else class="font-italic">{{
                        colisStatusHistoryView.colisInformation
                      }}</v-row>
                      <div v-if="returnTransfered(colisStatusHistoryView.status)">
                        <v-row class="font-italic">
                          {{ $t("clickColissimo") }}
                          <a
                            class="lienColissimo"
                            href="https://www.laposte.fr/outils/suivre-vos-envois"
                            target="_blank"
                            >{{ $t("hereColissiomo") }}</a
                          >
                          {{ $t("followColissimo") }}
                        </v-row>
                      </div>
                    </v-col>
                  </v-row>
                </v-timeline-item>
              </v-timeline>
              
            </v-card-text>
          </v-card>
        </v-dialog>
</div>
</template>

<script>
import axios from "axios";

export default {
  name: "PortailSuivisColis",
  props: {},
  data: () => ({
    colisId: "",
    myLoading: false,
    dialog: false,
    objectDeliveryReasons: "",
    contactInformations: "",
    colisStatusHistoryViews: "",
    colisStatusHistoryViewsArrays: [],
    contactInformationsArrays: []
  }),
  created() {
    axios
      .get(
        "https://robonoboplanner.fr:8443/CourtCircuitLivraisonServices/getDeliveryReasonListByCustomerId?id=973"
      )
      .then((response) => {
        this.buildDeliveryReason(response.data);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    returnTransfered(status) {
      if (this.$i18n.locale === "fr") {
        if (status === 'Transféré')
        return true;
        return false
      } else if (this.$i18n.locale === "en") {
        if (status === 'Transfered')
        return true;
        return false
      }
      return false;
    },

    returnNotDeliveredSouffrance(colisStatusHistoryView) {
      if (this.$i18n.locale === "fr") {
        if (colisStatusHistoryView.status === 'Non livré' && colisStatusHistoryView.deliveryReasonId && colisStatusHistoryView.deliveryReasonId.issouffrance === '1')
        return true;
        return false
      } else if (this.$i18n.locale === "en") {
        if (colisStatusHistoryView.status === 'Not delivered' && colisStatusHistoryView.deliveryReasonId && colisStatusHistoryView.deliveryReasonId.issouffrance === '1')
        return true;
        return false
      }
    },

    returnDeliveredCustomerInformation (status) {
      if (this.$i18n.locale === "fr") {
        if (status === 'Livré')
        return true;
        return false
      } else if (this.$i18n.locale === "en") {
        if (status === 'Delivered')
        return true;
        return false
      }
      return false;
    },

    onClickSubmit() {
      this.myLoading = true;
      this.contactInformations= "";
      this.colisStatusHistoryViews= "";
      this.colisStatusHistoryViewsArrays= [];
      this.contactInformationsArrays= [];

      axios
        .get(
          `https://robonoboplanner.fr:8443/CourtCircuitLivraisonServices/getContactByColisId?colisId=${this.colisId.toUpperCase()}&customerId=973`
        )
        .then((response) => {
          this.buildContact(response.data);
          this.myLoading = false;
        })
        .catch((error) => {
          this.myLoading = false;
          console.log(error);
        });
    },

    buildDeliveryReason(xmlElement) {
      let parser = new DOMParser();
      let xmlDoc = parser.parseFromString(xmlElement, "text/xml");
      let deliveryReasonDoc = xmlDoc.getElementsByTagName(
        "DeliveryReasonList"
      )[0];
      let arrayObjectReasonList = [];

      if (deliveryReasonDoc.getAttribute("nbDeliveryReasons") > "0") {
        let deliveryReasonList = deliveryReasonDoc.getElementsByTagName(
          "deliveryreason"
        );

        for (let i = 0; i < deliveryReasonList.length; i++) {
          let object = {};

          object.deliveryreasonid = deliveryReasonList[i].getAttribute(
            "deliveryreasonid"
          );
          object.deliveryreasonname = deliveryReasonList[i].getAttribute(
            "deliveryreasonname"
          );
          object.isdeliveredreason = deliveryReasonList[i].getAttribute(
            "isdeliveredreason"
          );
          object.issouffrance = deliveryReasonList[i].getAttribute(
            "issouffrance"
          );
          object.translations = deliveryReasonList[i].getAttribute(
            "translations"
          );
          arrayObjectReasonList.push(object);
        }
        this.objectDeliveryReasons = arrayObjectReasonList;
      }
      return 0;
    },

    buildContact(xmlElement) {
      let parser = new DOMParser();
      let xmlDoc = parser.parseFromString(xmlElement, "text/xml");
      let contactList = xmlDoc.getElementsByTagName("ContactList")[0];

      if (contactList.getAttribute("nbContacts") === "0") {
        //console.log("pas de suivis de colis");
        return 0;
      } else if (contactList.getAttribute("nbContacts") === "1") {
      let contact = xmlDoc.getElementsByTagName("contact")[0];
      let colisStatusHistoryString = contact.getAttribute("colisstatushistory");

      this.contactInformations = this.buildContactInformations(contact);

      let colisStatusHistory = [];

      if (
        colisStatusHistoryString !== "" &&
        colisStatusHistoryString !== undefined
      ) {
        this.dialog = true;
        var statusList = colisStatusHistoryString.split("*");
        for (var s = 0; s < statusList.length; s++) {
          let myObject = "";
          if (this.$i18n.locale === "fr")
            myObject = this.buildFromStringFR(statusList[s]);
          else if (this.$i18n.locale === "en")
            myObject = this.buildFromStringEN(statusList[s]);
          if(myObject.status !== undefined && myObject.historyCode !== "1")
          colisStatusHistory.push(myObject);
        }

        if (this.$i18n.locale === "fr")
          this.contactInformations.colisstatushistory = this.cleanColisStatusHistoryFR(
            colisStatusHistory
          );
        else if (this.$i18n.locale === "en")
          this.contactInformations.colisstatushistory = this.cleanColisStatusHistoryEN(
            colisStatusHistory
          );

        this.colisStatusHistoryViews = this.buildColisStatusHistoryViews(
          this.contactInformations.colisstatushistory
        );

              axios
        .get(
          `https://gateway.ftlapp.io/api/cc/trace`, { headers: { Authorization: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiI0Iiwicm9sZXMiOiJST0xFX0NDX1JPT1QiLCJ1c2VybmFtZSI6ImNvbGljb2xpIiwidHlwZSI6IlJPT1QiLCJncm91cCI6IkRFRkFVTFQiLCJvd25lciI6IkRFRkFVTFQiLCJsYW5ndWFnZSI6ImNuIiwidmVyc2lvbiI6InYxLjAiLCJ0b2tlblR5cGUiOiJBUFAiLCJhcHAiOiJqNm5qbzJqSjJBOGppTlZLS3ZSOUtZOTBjMnBtZXZEViIsImp0aSI6IjAyZWIwN2Y5MzM5YTQ1MjQ5MTg3ZjFhYjBhN2FhNWZiIn0.t99dvLu6A1hUxVhGiwfXcJ_JF73buMn8Ul7iOZuXGN4l5LQ_iIMc69XO167ZuNmfCx7A3olf6FtkRkg7W5tIrg"}, params: { trackingNumbers: this.colisId } }
        )
        .then((response) => {
          if (response.data[0]) {

          let element = response.data[0].traces[0];
          let objectFtlStatus;
          if (this.$i18n.locale === "fr") {
                if (element.name === "Colis annoncés") {
                  objectFtlStatus = {
                  colisInformation: "",//element.description,
                  status:  element.name,
                  statusDate: new Date(element.createdAt),
                  statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                  statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                } else if (element.name === "Attribué") {
                  objectFtlStatus = {
                    colisInformation: element.description,
                    status:  element.name,
                    statusDate: new Date(element.createdAt),
                    statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                    statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                }
          } else if (this.$i18n.locale === "en") {
            if (element.name === "Colis annoncés") {
            objectFtlStatus = {
            colisInformation: "",
            status:  "Parcel notification",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            } else if (element.name === "Attribué") {
                          objectFtlStatus = {
            colisInformation: "Processed at CDG hub",
            status:  "Arrival",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            }
          }
          this.colisStatusHistoryViews.push(objectFtlStatus);
                     element = response.data[0].traces[1];

          if (this.$i18n.locale === "fr") {
                if (element.name === "Colis annoncés") {
                  objectFtlStatus = {
                  colisInformation: "",//element.description,
                  status:  element.name,
                  statusDate: new Date(element.createdAt),
                  statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                  statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                } else if (element.name === "Attribué") {
                  objectFtlStatus = {
                    colisInformation: element.description,
                    status:  element.name,
                    statusDate: new Date(element.createdAt),
                    statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                    statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                }
          } else if (this.$i18n.locale === "en") {
            if (element.name === "Colis annoncés") {
            objectFtlStatus = {
            colisInformation: "",
            status:  "Parcel notification",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            } else if (element.name === "Attribué") {
                          objectFtlStatus = {
            colisInformation: "Processed at CDG hub",
            status:  "Arrival",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            }
          }
          this.colisStatusHistoryViews.push(objectFtlStatus);
          }
        })
        .catch((error) => {
          console.log(error);
        });


      }
      } else {
        let i = 0;
        for (i; i < parseInt(contactList.getAttribute("nbContacts")); i++) {
          let contact = xmlDoc.getElementsByTagName("contact")[i]
          let colisStatusHistoryString = contact.getAttribute("colisstatushistory");

          this.contactInformationsArrays.push(this.buildContactInformations(contact));

          let colisStatusHistory = [];

            if (
              colisStatusHistoryString !== "" &&
              colisStatusHistoryString !== undefined
            ) {

              var statusList = colisStatusHistoryString.split("*");

              for (var s = 0; s < statusList.length; s++) {
                let myObject = "";
                if (this.$i18n.locale === "fr")
                  myObject = this.buildFromStringFR(statusList[s]);
                else if (this.$i18n.locale === "en")
                  myObject = this.buildFromStringEN(statusList[s]);
                if(myObject.status !== undefined)
                colisStatusHistory.push(myObject);
              }
              if (this.$i18n.locale === "fr")
                this.contactInformationsArrays[i].colisstatushistory = this.cleanColisStatusHistoryFR(
                  colisStatusHistory
                );
              else if (this.$i18n.locale === "en")
                this.contactInformationsArrays[i].colisstatushistory = this.cleanColisStatusHistoryEN(
                  colisStatusHistory
                );
                let statushistoryviews = this.buildColisStatusHistoryViews(this.contactInformationsArrays[i].colisstatushistory)
              /* this.colisStatusHistoryViewsArrays.push(this.buildColisStatusHistoryViews(this.contactInformationsArrays[i].colisstatushistory)); */

                            axios
        .get(
          `https://gateway.ftlapp.io/api/cc/trace`, { headers: { Authorization: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiI0Iiwicm9sZXMiOiJST0xFX0NDX1JPT1QiLCJ1c2VybmFtZSI6ImNvbGljb2xpIiwidHlwZSI6IlJPT1QiLCJncm91cCI6IkRFRkFVTFQiLCJvd25lciI6IkRFRkFVTFQiLCJsYW5ndWFnZSI6ImNuIiwidmVyc2lvbiI6InYxLjAiLCJ0b2tlblR5cGUiOiJBUFAiLCJhcHAiOiJqNm5qbzJqSjJBOGppTlZLS3ZSOUtZOTBjMnBtZXZEViIsImp0aSI6IjAyZWIwN2Y5MzM5YTQ1MjQ5MTg3ZjFhYjBhN2FhNWZiIn0.t99dvLu6A1hUxVhGiwfXcJ_JF73buMn8Ul7iOZuXGN4l5LQ_iIMc69XO167ZuNmfCx7A3olf6FtkRkg7W5tIrg"}, params: { trackingNumbers: this.contactInformationsArrays[i].colisid } }
        )
        .then((response) => {
          if (response.data[0]) {
            let element = response.data[0].traces[0];
            let objectFtlStatus;
              if (this.$i18n.locale === "fr") {
                if (element.name === "Colis annoncés") {
                  objectFtlStatus = {
                  colisInformation: "",//element.description,
                  status:  element.name,
                  statusDate: new Date(element.createdAt),
                  statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                  statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                } else if (element.name === "Attribué") {
                  objectFtlStatus = {
                    colisInformation: element.description,
                    status:  element.name,
                    statusDate: new Date(element.createdAt),
                    statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                    statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                }
/*             
                       objectFtlStatus = {
            colisInformation: "",//element.description,
            status:  element.name,
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          } */
          } else if (this.$i18n.locale === "en") {
            if (element.name === "Colis annoncés") {
            objectFtlStatus = {
            colisInformation: "",
            status:  "Parcel notification",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            } else if (element.name === "Attribué") {
                          objectFtlStatus = {
            colisInformation: "Processed at CDG hub",
            status:  "Arrival",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            }
          }
          statushistoryviews.push(objectFtlStatus);

                    element = response.data[0].traces[1];
          if (this.$i18n.locale === "fr") {
                if (element.name === "Colis annoncés") {
                  objectFtlStatus = {
                  colisInformation: "",//element.description,
                  status:  element.name,
                  statusDate: new Date(element.createdAt),
                  statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                  statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                } else if (element.name === "Attribué") {
                  objectFtlStatus = {
                    colisInformation: element.description,
                    status:  element.name,
                    statusDate: new Date(element.createdAt),
                    statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
                    statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
                  }
                }
          } else if (this.$i18n.locale === "en") {
            if (element.name === "Colis annoncés") {
            objectFtlStatus = {
            colisInformation: "",
            status:  "Parcel notification",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            } else if (element.name === "Attribué") {
                          objectFtlStatus = {
            colisInformation: "Processed at CDG hub",
            status:  "Arrival",
            statusDate: new Date(element.createdAt),
            statusDateFormat: new Date(element.createdAt).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"}),
            statusHourFormat: new Date(element.createdAt).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"})
          }
            }
          }
          statushistoryviews.push(objectFtlStatus);
          
          }
        })
        .catch((error) => {
          console.log(error);
        });
        this.colisStatusHistoryViewsArrays.push(statushistoryviews);
            }
        }
        this.dialog = true;
      }

      return 0;
    },

    buildFromStringFR(statusAsString) {
      let object = {};
      var splittedStatus = statusAsString.split("|");
      switch (parseInt(splittedStatus[0])) {
        case 0:
          object.status = "Non traité";
          break;
        case 1:
          object.status = "Attribué";
          break;
        case 2:
          object.status = "En cours de livraison";
          break;
        case 3:
          object.status = "Livré";
          break;
        case 4:
          object.status = "Non livré";
          break;
        default:
          break;
      }
      //object.status = parseInt(splittedStatus[0]);
      object.statusInfos = splittedStatus[1];
      object.deliveryReasonId = this.buildDeliveryReasonFromId(
        splittedStatus[2]
      );

      object.statusDate = new Date(parseInt(splittedStatus[3]) * 1000);
      object.statusDateFormat = new Date(
        parseInt(splittedStatus[3]) * 1000
      ).toLocaleDateString('fr-FR', {timeZone: "Europe/Paris"});
      object.statusHourFormat = new Date(
        parseInt(splittedStatus[3]) * 1000
      ).toLocaleTimeString('fr-FR', {timeZone: "Europe/Paris"});
      object.geoCoords = splittedStatus[4];
      object.historyCode = splittedStatus[5];
      return object;
    },

    buildFromStringEN(statusAsString) {
      let object = {};
      var splittedStatus = statusAsString.split("|");
      switch (parseInt(splittedStatus[0])) {
        case 0:
          object.status = "Untreated";
          break;
        case 1:
          object.status = "Arrival";
          break;
        case 2:
          object.status = "With delivery courier";
          break;
        case 3:
          object.status = "Delivered";
          break;
        case 4:
          object.status = "Not delivered";
          break;
        default:
          break;
      }
      //object.status = parseInt(splittedStatus[0]);
      object.statusInfos = splittedStatus[1];
      object.deliveryReasonId = this.buildDeliveryReasonFromId(
        splittedStatus[2]
      );

      object.statusDate = new Date(parseInt(splittedStatus[3]) * 1000);
      object.statusDateFormat = new Date(
        parseInt(splittedStatus[3]) * 1000
      ).toLocaleDateString();
      object.statusHourFormat = new Date(
        parseInt(splittedStatus[3]) * 1000
      ).toLocaleTimeString();
      object.geoCoords = splittedStatus[4];
      object.historyCode = splittedStatus[5];
      return object;
    },

    buildContactInformations(contactInformations) {
      let object = {};

      object.contactaddress = contactInformations.getAttribute(
        "contactaddress"
      );
      object.contactgeocoords = contactInformations.getAttribute(
        "contactgeocoords"
      );
      object.contactlabel = contactInformations.getAttribute("contactlabel");
      object.contactphone = contactInformations.getAttribute("contactphone");
      object.contactssnumber = contactInformations.getAttribute(
        "contactssnumber"
      );
      object.noteaboutcontact = contactInformations.getAttribute(
        "noteaboutcontact"
      );
      object.colisid = contactInformations.getAttribute("colisid");
      object.colisstatus = contactInformations.getAttribute("colisstatus");
      object.colisstatusinfos = contactInformations.getAttribute(
        "colisstatusinfos"
      );
      object.deliveryreasonid = this.buildDeliveryReasonFromId(
        contactInformations.getAttribute("deliveryreasonid")
      );
      object.receptiontimestamp = contactInformations.getAttribute(
        "receptiontimestamp"
      );
      object.deliverytimestamp = contactInformations.getAttribute(
        "deliverytimestamp"
      );
      object.origincustomer = contactInformations.getAttribute(
        "origincustomer"
      );
      object.origincustomerid = contactInformations.getAttribute(
        "origincustomerid"
      );
      object.colisowner = contactInformations.getAttribute("colisowner");
      object.creator = contactInformations.getAttribute("creator");
      object.processingtimestamp = contactInformations.getAttribute(
        "processingtimestamp"
      );
      object.contactstreet = contactInformations.getAttribute("contactstreet");
      object.contactcity = contactInformations.getAttribute("contactcity");
      object.contactpostcode = contactInformations.getAttribute(
        "contactpostcode"
      );
      object.contactcountry = contactInformations.getAttribute(
        "contactcountry"
      );
      object.multilevelid = contactInformations.getAttribute("multilevelid");
      return object;
    },

    buildDeliveryReasonFromId(deliveryReasonId) {
      for (let i = 0; i < this.objectDeliveryReasons.length; i++) {
        const element = this.objectDeliveryReasons[i].deliveryreasonid;

        if (element === deliveryReasonId) {
          return this.objectDeliveryReasons[i];
        }
      }
      return "";
    },

    cleanColisStatusHistoryFR(arrayColisStatusHistory) {
      let array = [];

      let statusDateFormat = "";
      let countNonTraite = 0;
      let lockNonReçu = false;

      arrayColisStatusHistory.forEach((element) => {
        if (element.status === "En cours de livraison" || element.status === "Livré"  || element.status === "Non livré") {
          lockNonReçu = true;
        }
      })

      if (arrayColisStatusHistory[0].status === "Non traité") {
        array.push(arrayColisStatusHistory[0]);
        array[0].status = "Colis annoncé";
        arrayColisStatusHistory[0].status === "Colis annoncé";
      }
      /* statusDateFormat = arrayColisStatusHistory[0].statusDateFormat; */
      arrayColisStatusHistory.forEach((element) => {
        if (
          element.status !== "Non traité" &&
          element.status !== "Colis annoncé" &&
          element.status !== "En cours de livraison"
        ) {
          if (element.statusInfos !== "COLICOLI : VIE") //condition pour enlever le status attribué de  robonobo
          array.push(element);
        } else if (
          element.status === "Non traité" &&
          element.statusInfos.split(" ")[0] === "Colissimo"
        ) {
          element.colisInformation = `Colis confié à Colissimo sous la référence : ${
            element.statusInfos.split(" ")[3]
          }`;
          element.status = "Transféré";
          array.push(element);
        } else if (
          element.status === "En cours de livraison" &&
          element.statusDateFormat !== statusDateFormat
        ) {
          array.push(element);
          statusDateFormat = element.statusDateFormat;
        } else if (countNonTraite === 2 && lockNonReçu === false) {
          element.status = "Non reçu";
          array.push(element);
        }

        if (element.status === "Non traité" || element.status === "Non reçu")
        countNonTraite++;
        else if (element.status !== "Non traité"){
          countNonTraite = 0;
        } else if (element.status !== "Non reçu"){
          countNonTraite = 0;
        }
        
      });

      array.forEach((element) => {
        if (element.status === "Attribué") {
          let myString = element.statusInfos.split(" ");

          if (myString[0] === "COLICOLI") {
            element.colisInformation = "Arrivé en hub de distribution CDG";
          } else {
            element.colisInformation = "Arrivé en agence de livraison";
          }
        } else if (element.status === "Non livré") {
          let myString = element.statusInfos.split(" ");
          
          if (myString[0] === "Retour" && myString[1] === "fournisseur") {
            element.colisInformation = "Colis retourné à l'expéditeur";
          }
        }
      });

      let countStatusLivre = 0;

      for (let index = 0; index < array.length; index++) {
        const element = array[index];

        if (element.status === "Livré") {
          countStatusLivre++;
        }
      }

      if (countStatusLivre > 1) {
        for (let index = 0; index < array.length; index++) {
          const element = array[index];

          if (element.status === "Livré" && countStatusLivre > 1) {
            array.splice(index, 1);
            countStatusLivre--;
          }
        }
      }

      return this.cleanMultipleAttribuéStatusFR(array);
    },

    cleanColisStatusHistoryEN(arrayColisStatusHistory) {
      let array = [];

      let statusDateFormat = "";
      let countNonTraite = 0;
      let lockNonReçu = false;

      arrayColisStatusHistory.forEach((element) => {
        if (element.status === "With delivery courier" || element.status === "Delivered"  || element.status === "Not delivered") {
          lockNonReçu = true;
        }
      })

      if (arrayColisStatusHistory[0].status === "Untreated") {
        array.push(arrayColisStatusHistory[0]);
        array[0].status = "Parcel notification";
        arrayColisStatusHistory[0].status === "Parcel notification";
      }
      /* statusDateFormat = arrayColisStatusHistory[0].statusDateFormat; */
      arrayColisStatusHistory.forEach((element) => {
        if (
          element.status !== "Untreated" &&
          element.status !== "Parcel notification" &&
          element.status !== "With delivery courier"
        ) {
          if (element.statusInfos !== "COLICOLI : VIE") //condition pour enlever le status attribué de  robonobo
          array.push(element);
        } else if (
          element.status === "Untreated" &&
          element.statusInfos.split(" ")[0] === "Colissimo"
        ) {
          element.colisInformation = `Parcel entrusted to Colissimo under the reference : ${
            element.statusInfos.split(" ")[3]
          }`;
          element.status = "Transfered";
          array.push(element);
        } else if (
          element.status === "With delivery courier" &&
          element.statusDateFormat !== statusDateFormat
        ) {
          array.push(element);
          statusDateFormat = element.statusDateFormat;
        } else if (countNonTraite === 2 && lockNonReçu === false) {
          element.status = "Not received";
          array.push(element);
        }

        if (element.status === "Untreated" || element.status === "Not received")
        countNonTraite++;
        else if (element.status !== "Untreated"){
          countNonTraite = 0;
        } else if (element.status !== "Not received"){
          countNonTraite = 0;
        }
        
      });

      array.forEach((element) => {
        if (element.status === "Arrival") {
          let myString = element.statusInfos.split(" ");

          if (myString[0] === "COLICOLI") {
            element.colisInformation = "Processed at CDG hub";
          } else {
            element.colisInformation = "Processed at Facility";
          }
        } else if (element.status === "Not delivered") {
          let myString = element.statusInfos.split(" ");

          if (myString[0] === "Retour" && myString[1] === "fournisseur") {
            element.colisInformation = "Parcel returned to sender";
          }
        }
      });

      let countStatusLivre = 0;

      for (let index = 0; index < array.length; index++) {
        const element = array[index];

        if (element.status === "Delivered") {
          countStatusLivre++;
        }
      }

      if (countStatusLivre > 1) {
        for (let index = 0; index < array.length; index++) {
          const element = array[index];

          if (element.status === "Delivered" && countStatusLivre > 1) {
            array.splice(index, 1);
            countStatusLivre--;
          }
        }
      }

      return this.cleanMultipleAttribuéStatusEN(array);
    },

    cleanMultipleAttribuéStatusFR(arrayStatusHistory) {
      let lockerAttribue = 0;
      let lockTransfered = false;
      let lockDelivered = false;
      let newArray = [];

      for (let i = 0; i < arrayStatusHistory.length; i++) {
        const element = arrayStatusHistory[i];
        if (element.status === "Livré" || element.status === "Non livré")
        lockDelivered = true;
      }

      arrayStatusHistory.forEach((element) => {

        if (element.status === "Attribué" && lockTransfered === false) {
          let myString = element.statusInfos.split(" ");

          if (myString[0] === "COLICOLI") {
            newArray.push(element);
          } else if (myString[0] !== "COLICOLI" && lockerAttribue === 0) {
            newArray.push(element);
            lockerAttribue = 1;
          }
        } else if (
          element.status === "Non livré" &&
          element.statusInfos === ""
        ) {
          newArray.push(element);
          /* lockerAttribue = 1; */
        } else if (
          element.status === "Non livré" &&
          element.colisInformation
        ) {
          newArray.push(element);
        } else if (
          element.status === "Non livré"
        ) {
          newArray.push(element);
        }
        else if (element.statusInfos === "" && lockTransfered === false) {
          newArray.push(element);
          /* lockerAttribue = 0; */
        } else if (element.statusInfos.split(" ")[0] === "Colissimo" && element.status === "Transféré" && lockDelivered === false) {
          newArray.push(element);
          lockTransfered = true;
          return newArray;
          /* lockerAttribue = 0; */
        } else if (element.status === "Livré") {
          newArray.push(element);
        } else if (element.status === "Colis annoncé" && lockTransfered === false) {
          //newArray.push(element); //ligne pour enlever le colis annonce de robonobo
        } else if  (element.status === "Non reçu" && lockTransfered === false) {
          newArray.push(element);
        }
      });

      return newArray;
    },

    cleanMultipleAttribuéStatusEN(arrayStatusHistory) {
      let lockerAttribue = 0;
      let lockTransfered = false;
      let lockDelivered = false;
      let newArray = [];

            for (let i = 0; i < arrayStatusHistory.length; i++) {
        const element = arrayStatusHistory[i];
        if (element.status === "Delivered" || element.status === "Not delivered")
        lockDelivered = true;
      }

      arrayStatusHistory.forEach((element) => {
        if (element.status === "Arrival" && lockTransfered === false) {
          let myString = element.statusInfos.split(" ");

          if (myString[0] === "COLICOLI") {
            newArray.push(element);
          } else if (myString[0] !== "COLICOLI" && lockerAttribue === 0) {
            newArray.push(element);
            lockerAttribue = 1;
          }
        } else if (
          element.status === "Not delivered" &&
          element.statusInfos === ""
        ) {
          newArray.push(element);
          /* lockerAttribue = 1; */
        } else if (
          element.status === "Not delivered" &&
          element.colisInformation
        ) {
          newArray.push(element);
                  } else if (
          element.status === "Not delivered"
        ) {
          newArray.push(element);
        } else if (element.statusInfos === "" && lockTransfered === false) {
          newArray.push(element);
          /* lockerAttribue = 0; */
        } else if (element.statusInfos.split(" ")[0] === "Colissimo" && element.status === "Transfered" && lockDelivered === false) {
          newArray.push(element);
          lockTransfered = true;
          return newArray;
          /* lockerAttribue = 0; */
        } else if (element.status === "Delivered") {
          newArray.push(element);
        } else if (element.status === "Parcel notification" && lockTransfered === false) {
          //newArray.push(element); //ligne pour enlever le colis annonce de robonobo
        } else if  (element.status === "Not received" && lockTransfered === false) {
          newArray.push(element);
        }
      });

      return newArray;
    },

    buildColisStatusHistoryViews(arrayColisStatusHistory) {
      let array = [];
      let i = 0;

      arrayColisStatusHistory.forEach((element) => {

        i++;
        let object = {};

        object.id = i;
        object.status = element.status;

        if (element.deliveryReasonId !== "") {
          if (this.$i18n.locale === "fr") {
            object.deliveryReason = JSON.parse(
              element.deliveryReasonId.translations
            ).portail.fr;
          } else if (this.$i18n.locale === "en") {
            object.deliveryReason = JSON.parse(
              element.deliveryReasonId.translations
            ).portail.en;
          }

          object.deliveryReasonId = element.deliveryReasonId;
        }

        if (element.colisInformation)
          object.colisInformation = element.colisInformation;

        object.statusDate = element.statusDate;
        object.statusDateFormat = element.statusDateFormat;
        object.statusHourFormat = element.statusHourFormat;
        //object.deliveryReasonId = element.deliveryReasonId;
        array.push(object);
      });

      return array.reverse();
    },

    filterColorTimelineItem(status) {
      if (this.$i18n.locale === "fr") {
        switch (status) {
          case "Attribué":
            return "blue";
          case "Non livré":
            return "red";
          case "Transféré":
            return "orange";
          case "Livré":
            return "green";
          case "En cours de livraison":
            return "blue";
          default:
            break;
        }
      } else if (this.$i18n.locale === "en") {
        switch (status) {
          case "Arrival":
            return "blue";
          case "Not delivered":
            return "red";
          case "Transfered":
            return "orange";
          case "Delivered":
            return "green";
          case "With delivery courier":
            return "blue";
          default:
            break;
        }
      }
    },

    filterSizeSmallTimelineItem(status) {
      if (this.$i18n.locale === "fr") {
        switch (status) {
          case "Attribué":
            return true;
          case "Non livré":
            return false;
          case "Transféré":
            return false;
          case "Livré":
            return false;
          case "En cours de livraison":
            return false;
          default:
            break;
        }
      } else if (this.$i18n.locale === "en") {
        switch (status) {
          case "Arrival":
            return true;
          case "Not delivered":
            return false;
          case "Transfered":
            return false;
          case "Delivered":
            return false;
          case "With delivery courier":
            return false;
          default:
            break;
        }
      }
    },

    filterSizeLargeTimelineItem(status) {
      if (this.$i18n.locale === "fr") {
        switch (status) {
          case "Attribué":
            return false;
          case "Non livré":
            return false;
          case "Transféré":
            return false;
          case "Livré":
            return true;
          case "En cours de livraison":
            return false;
          default:
            break;
        }
      } else if (this.$i18n.locale === "en") {
        switch (status) {
          case "Arrival":
            return false;
          case "Not delivered":
            return false;
          case "Transfered":
            return false;
          case "Delivered":
            return true;
          case "With delivery courier":
            return false;
          default:
            break;
        }
      }
    },

    filterIconTimelineItem(status) {
      if (this.$i18n.locale === "fr") {
        switch (status) {
          case "Attribué":
            return "mdi-garage-open-variant";
          case "Non livré":
            return "mdi-close";
          case "Non reçu":
            return "mdi-close";
          case "Transféré":
            return "mdi-email-off-outline";
          case "Livré":
            return "mdi-mailbox-open-up-outline";
          case "En cours de livraison":
            return "mdi-truck-fast-outline";
          case "Colis annoncé":
            return "mdi-airplane-landing";
                    case "Colis annoncés":
            return "mdi-airplane-landing";
          default:
            break;
        }
      } else if (this.$i18n.locale === "en") {
        switch (status) {
          case "Arrival":
            return "mdi-garage-open-variant";
          case "Not delivered":
            return "mdi-close";
          case "Not received":
            return "mdi-close";
          case "Transfered":
            return "mdi-email-off-outline";
          case "Delivered":
            return "mdi-mailbox-open-up-outline";
          case "With delivery courier":
            return "mdi-truck-fast-outline";
          case "Parcel notification":
            return "mdi-airplane-landing";
          default:
            break;
        }
      }
    },
  },
};
</script>

<i18n>
{
  "en": {
    "title": "TRACKING COLICOLI",
    "subtitle": "Save time : Track your package yourself",
    "enter": "Enter",
    "placeholderColicoli": "Parcel tracking number",
    "clickColissimo": "Click",
    "hereColissiomo": "HERE",
    "followColissimo": "for parcel tracking",
    "contactCustomerService": "Thanks to contact customer service 01 70 61 30 71",
    "titleMultipleParcel": "Parcel Tracking"
  },
  "fr": {
    "title": "SUIVI COLICOLI",
    "subtitle": "Gagnez du temps : Suivez vous-même votre colis",
    "enter": "Entrer",
    "placeholderColicoli": "Numéro de colis",
    "clickColissimo": "Cliquez",
    "hereColissiomo": "ICI",
    "followColissimo": "pour suivre votre colis",
    "contactCustomerService": "Merci de contacter le service client 01 70 61 30 71",
    "titleMultipleParcel": "Suivi Colis"
  }
}
</i18n>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.test {
  border: 1px solid red;
}

.textFieldColis {
  max-width: 400px;
}
.custom-btn:hover {
  background-color: green;
}
.lienColissimo {
  margin-left: 2px;
  margin-right: 2px;
}
/* .parallax {  } */
</style>
