<template>
  <v-app>
    <router-view/>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
};
</script>

<style scoped>
@font-face {
  font-family: "Helvetica";
  src: url("./assets/Helvetica.ttf");
}

* {
  font-family: "Helvetica";
}
</style>
